In [6]:
import pandas as pd
import numpy as np
import xlwt
import xlrd
from tkinter import filedialog
import tkinter as tk
import customtkinter as ctk
from customtkinter import filedialog
import funciones
import re
import openpyxl

In [7]:
#cargar primero el excel o csv
archivo = None
while True:
    archivo = funciones.seleccionar_archivo()
    nombre_col = ['n_afi', 'parentesco','nombre','dni','no_se','dni2','plan','plan2','sexo','localidad','provincia']
    print(archivo)
    if archivo:
        ruta_archivo = archivo.name
        try:
            padron_capita= pd.read_csv(ruta_archivo, encoding='ISO-8859-1', sep=';', names=nombre_col)
            #padron_capita = pd.read_excel(ruta_archivo)
            print(padron_capita)
            break
        except UnicodeDecodeError:
            print("Error de decodificación de caracteres. Intenta con otra codificación o archivo.")
            continue
    else:
        print("Archivo incorrecto. Por favor, vuelva a cargarlo.")

<_io.TextIOWrapper name='C:/Users/zickd/Downloads/odontologia (3).csv' mode='r' encoding='cp1252'>
              n_afi  parentesco                          nombre       dni  \
0     1002682185800           0  LUGO RUBEN OMAR                 19780915
1     1003766928700           0  VELAZQUEZ MAXIMILIANO LEONEL    19930208
2     1001712668200           0  CAMPOS Sandra Raquel            19640424
3     1002493263700           0  ARRIOLA DIEGO ALBERTO           19751225
4     1002213898100           0  TORO PATRICIA DEL CARMEN        19710809
...             ...         ...                             ...       ...
4840   402600705903           2  ENRIQUEZ MAGALI MACARENA        20040612
4841   402600705904           2  ENRIQUEZ EZEQUIEL BENICIO       20070225
4842   403693794502           2  FERREYRA UMA GERALDINE          20100610
4843   403693794503           2  FERREYRA THIAGO NEYEN           20090119
4844   403191136802           2  BARRAGAN LEANDRO                20050522

      no_se      dni2  plan  plan2 sexo         localidad     provincia
0         1  26821858   100    100    M   VIRREY DEL PINO  BUENOS AIRES
1         1  37669287   100    100    M  FLORENCIO VARELA  BUENOS AIRES
2         1  17126682   100    100    F           MENDOZA       MENDOZA
3         1  24932637   100    100    M         LAS HERAS       MENDOZA
4         1  22138981   100    100    F           NEUQUEN       NEUQUEN
...     ...       ...   ...    ...  ...               ...           ...
4840      1  45911825   100    100    F             LANUS  BUENOS AIRES
4841      1  47864012   100    100    M             LANUS  BUENOS AIRES
4842      1  50152689   100    100    F          BANFIELD  BUENOS AIRES
4843      1  50894372   100    100    M          BANFIELD  BUENOS AIRES
4844      1  46626919   100    100    M          CLAYPOLE  BUENOS AIRES

[4845 rows x 11 columns]

In [8]:
diccionario ={'0':'titular',
              '1':'familiar',
              '2':'familiar',
              '3':'familiar',
              '4':'familiar',
              '5':'familiar',
              '6':'familiar',
              '7':'familiar',
              '8':'familiar'
              }      
#padron_capita['parentesco']=padron_capita['parentesco'].str.replace('\d|\(|\)', '', regex=True)
padron_capita['parentesco']=padron_capita['parentesco'].astype(str).replace(diccionario)

In [9]:
sedes={
'010': 'CABA',
'020': 'ZONA NORTE Y NOROESTE',
'030': 'ZONA OESTE',
'040': 'ZONA SUR',
'050': 'LA PLATA',
'060': 'MAR DEL PLATA',
'070': 'PERGAMINO',
'080': 'SANTA FE',
'090': 'CORDOBA',
'100':'MENDOZA',
'110':'TUCUMAN'
}
padron_capita['n_afi']=padron_capita['n_afi'].astype(str).str.zfill(13)
padron_capita['sede']=padron_capita['n_afi'].str[:3].replace(sedes)

In [5]:
save_path = filedialog.askdirectory()
padron_capita.to_excel(save_path + '\capitasagosto.xlsx', engine='openpyxl', index=False)

In [10]:
print(padron_capita.columns)

Index(['n_afi', 'parentesco', 'nombre', 'dni', 'no_se', 'dni2', 'plan',
       'plan2', 'sexo', 'localidad', 'provincia', 'sede'],
      dtype='object')

### armar la tabla dinamica

In [19]:
df_pivot = padron_capita.pivot_table(index='sede', columns='parentesco', values='dni', aggfunc='count')
df_pivot.loc['Total', :] = df_pivot.sum(axis=0)
df_pivot.loc[:, 'Total'] = df_pivot.sum(axis=1)



df_pivot.columns

Index(['familiar', 'titular', 'Total'], dtype='object', name='parentesco')

In [21]:
save_path = filedialog.askdirectory()
df_pivot.to_excel(save_path + '\capitas_diciembre_Final.xlsx', engine='openpyxl', index=True)

: