In [3]:
import pandas as pd
import numpy as np
import xlwt
import xlrd
from tkinter import filedialog
import tkinter as tk
import customtkinter as ctk
from customtkinter import filedialog
import funciones

In [19]:
#cargar rimero el excel 
archivo = None
while True:
    archivo = funciones.seleccionar_archivo()
    print(archivo)
    if archivo:
        ruta_archivo = archivo.name
        try:
            padron = pd.read_excel(ruta_archivo, engine='xlrd')
            print(padron)
            break
        except UnicodeDecodeError:
            print("Error de decodificación de caracteres. Intenta con otra codificación o archivo.")
            continue
    else:
        print("Archivo incorrecto. Por favor, vuelva a cargarlo.")

<_io.TextIOWrapper name='C:/Users/zickd/Downloads/evp.xls' mode='r' encoding='cp1252'>
      Nro. OS          Plan del Afiliado  Nro. Grupo Familiar  \
0           7                Desregulado             26044788
1           7                Desregulado             36610300
2           7                Desregulado             40849215
3           7                Desregulado             41007218
4           7  Monotributista social EPV             33982342
...       ...                        ...                  ...
1260        7                Desregulado             23590513
1261        7                Desregulado             94567593
1262        7                Desregulado             38715551
1263        7                Desregulado             37770374
1264        7                Desregulado             37770374

        Nro. Afiliado Parentesco con el TITULAR Apellido Afiliado  \
0     020-26044788-00                   TITULAR           ACEVEDO
1     020-36610300-00                   TITULAR           ACEVEDO
2     030-40849215-00                   TITULAR            ACOSTA
3     030-41007218-00                   TITULAR            ACOSTA
4     010-33982342-00                   TITULAR          AGUILERA
...               ...                       ...               ...
1260  030-23590513-00                   TITULAR          ZARAGOZA
1261  030-94567593-00                   TITULAR  ZARATE FERNANDEZ
1262  010-38715551-00                   TITULAR            ZARATE
1263  010-37770374-00                   TITULAR            ZOTELO
1264  010-37770374-02                    Hijo/a            ZOTELO

         Nombre Afiliado Tipo Documento  Nro. Documento    Nro. CUIL  ...  \
0              ANA MARIA            DNI        26044788  27260447888  ...
1                 DEBORA            DNI        36610300  27366103002  ...
2     ESMERALDA VICTORIA            DNI        40849215  27408492152  ...
3              IVAN JOEL            DNI        41007218  20410072182  ...
4         ROSA ELIZABETH            DNI        33982342  27339823427  ...
...                  ...            ...             ...          ...  ...
1260       SANDRA ROXANA            DNI        23590513  27235905138  ...
1261        MARIA LORENA            DNI        94567593  23945675934  ...
1262     FRANCO ESEQUIEL            DNI        38715551  20387155512  ...
1263        VANESA MABEL            DNI        37770374  27377703745  ...
1264         MAIA NICOLE            DNI        51123561  27511235613  ...

     Nro. Puerta Piso Departamento Barrio        Localidad     Provincia  \
0           4580  NaN          NaN    NaN       SAN MIGUEL  BUENOS AIRES
1           5347  NaN          NaN    NaN         VIRREYES  BUENOS AIRES
2           3650  NaN          NaN    NaN           MORENO  BUENOS AIRES
3           3879  NaN          NaN    NaN            MORON  BUENOS AIRES
4           3924  NaN          NaN    NaN             GLEW  BUENOS AIRES
...          ...  ...          ...    ...              ...           ...
1260         482  NaN          NaN    NaN            MERLO  BUENOS AIRES
1261        1901  NaN          NaN    NaN           MORENO  BUENOS AIRES
1262         770  NaN          NaN    NaN  CAPITAL FEDERAL  BUENOS AIRES
1263           0  NaN          NaN    NaN  CAPITAL FEDERAL  BUENOS AIRES
1264           0  NaN          NaN    NaN  CAPITAL FEDERAL  BUENOS AIRES

     Codigo Postal  Telefono  Celular  Email
0              NaN       NaN      NaN    NaN
1              NaN       NaN      NaN    NaN
2              NaN       NaN      NaN    NaN
3              NaN       NaN      NaN    NaN
4              NaN       NaN      NaN    NaN
...            ...       ...      ...    ...
1260           NaN       NaN      NaN    NaN
1261           NaN       NaN      NaN    NaN
1262           NaN       NaN      NaN    NaN
1263           NaN       NaN      NaN    NaN
1264           NaN       NaN      NaN    NaN

[1265 rows x 33 columns]

In [ ]:
#cargar el txt como dataframe
archivo = None
while True:
    archivo = funciones.seleccionar_archivo()
    print(archivo)
    if archivo:
        ruta_archivo = archivo.name
        try:
            padron = pd.read_excel(ruta_archivo, engine='xlrd')
            print(padron)
            break
        except UnicodeDecodeError:
            print("Error de decodificación de caracteres. Intenta con otra codificación o archivo.")
            continue
    else:
        print("Archivo incorrecto. Por favor, vuelva a cargarlo.")

In [16]:
print(padron)

    CUIL TITULAR* CUIL ADHRENTE         APELLIDO*                 NOMBRES*  \
0     23297194534           NaN         TASISTRO   LUCIANA ANGELA DANIELA
1     23297194534   23461951589             FAURE              GALO ISMAEL
2     20190713726           NaN             ALVEZ                    PABLO
3     20335069235           NaN         ESPINOZA           MATIAS EXEQUIEL
4     27179383603           NaN        FERNANDEZ              LUISA RAQUEL
..            ...           ...               ...                      ...
243   20440042857           NaN         RODRIGUEZ          ARIEL ALEXANDER
244   27166197363           NaN            IBAÑEZ           MERCEDES ESTER
245   20377901259           NaN          ALBORNOZ             MIGUEL ANGEL
246   27942764060           NaN           CORONEL                  MARISOL
247   27397663359           NaN  RAMIREZ IGLESIAS                    NAHIR

    DOMICILIO (calle)* Domicilio (altura)*        LOCALIDAD*      TELEFONO  \
0      CALIFORNIA 7389                7389  VIRREY DEL PINO   1.150207e+09
1      CALIFORNIA 7389                7389  VIRREY DEL PINO   1.150207e+09
2        EMILIO CASTRO                4200  VIRREY DEL PINO   1.140930e+09
3                ARENA                3126  VIRREY DEL PINO   1.130366e+09
4      SANTIAGO BUERAS                7045  VIRREY DEL PINO   1.139044e+09
..                 ...                 ...               ...           ...
243       BAHIA BLANCA                4065       V. DEL PINO  1.134371e+09
244            BRAVARD                2325       R. CASTILLO  1.151234e+09
245             ABRAMO                 702             MERLO  1.162645e+09
246            CARUSSO                1970   RAFAEL CASTILLO  1.157289e+09
247     GREGORIA PEREZ                1894          CASTELAR  1.126521e+09

     N° DE FORMULARIO FECHA DE ALTA*       FECHA DE NAC.*  NACIONALIDAD*  \
0            15949823     2023-01-01  1983-01-24 00:00:00             12
1            15949823     2023-01-01  2004-10-06 00:00:00             12
2            15845909     2022-03-01  1998-06-07 00:00:00             12
3            15846189     2022-03-01  1988-01-05 00:00:00             12
4            15849128     2022-10-01  1966-10-02 00:00:00             12
..                ...            ...                  ...            ...
243          15953975     2022-05-01  2017-06-02 00:00:00             12
244         352268773     2023-01-01  1963-09-24 00:00:00             12
245          15839951     2022-03-01  1993-01-06 00:00:00             12
246          15839219     2022-03-01  1981-11-26 00:00:00             12
247          15849798     2022-03-01  1996-08-16 00:00:00             12

    Sexo*  Estado Civil*  Parentesco*       SEDE Discapacidad*
0       F              1            0  SAN JUSTO            NO
1       M              1            2  SAN JUSTO            NO
2       M              1            0  SAN JUSTO            N0
3       M              1            0  SAN JUSTO            NO
4       F              2            0  SAN JUSTO            NO
..    ...            ...          ...        ...           ...
243     M              1            0  SAN JUSTO            NO
244     F              1            0  SAN JUSTO            NO
245     M              1            0  SAN JUSTO            NO
246     F              1            0  SAN JUSTO            NO
247     F              1            0  SAN JUSTO            NO

[248 rows x 17 columns]