In [1]:
import pandas as pd
import numpy as np
import xlwt
import xlrd
from tkinter import filedialog
import tkinter as tk
import customtkinter as ctk
from customtkinter import filedialog
import funciones
import datetime
import re

### cargar archivo 1

In [5]:
archivo = None
while True:
    archivo = funciones.seleccionar_archivo()
    print(archivo)
    if archivo:
        ruta_archivo = archivo.name
        try:
            padon_1 = pd.read_excel(ruta_archivo, engine='openpyxl')
            #padron = pd.read_csv(archivo, sep=";", encoding="ISO-8859-1")
            print(padon_1)
            break
        except UnicodeDecodeError:
            print("Error de decodificación de caracteres. Intenta con otra codificación o archivo.")
            continue
    else:
        print("Archivo incorrecto. Por favor, vuelva a cargarlo.")

<_io.TextIOWrapper name='C:/Users/zickd/Downloads/UOETSYLRA JUNIO.xlsx' mode='r' encoding='cp1252'>
      Codigo  CUIT_Empleador  CUIL_Titular  Parentesco  CUIL_Familiar  \
0     127406     20240830214   20240830214           0    20240830214
1     127406     20119590958   20119590958           0    20119590958
2     127406     27425694192   27425694192           0    27425694192
3     127406     27425694192   27425694192           3    20549159851
4     127406     27270992132   27270992132           0    27270992132
...      ...             ...           ...         ...            ...
1682  127406     20190072577   20190072577           0    20190072577
1683  127406     27321459590   27321459590           0    27321459590
1684  127406     27174774221   27174774221           0    27174774221
1685  127406     27174774221   27174774221           1    20149595150
1686  127406     27316755637   27316755637           0    27316755637

     Tipo_Doc   Nro_Doc       Apellido                      Nombre Sexo  ...  \
0          DU  24083021         ELISII   CHRISTIAN MAURICIO JAVIER    M  ...
1          DU  11959095       PEDEZERT            FERNANDO RICARDO    M  ...
2          DU  42569419   NINA RAMIREZ               TANIA SOLEDAD    F  ...
3          DU  54915985  ANDACABA NINA                ULISES UZIEL    M  ...
4          DU  27099213            RAU             CINTHIA BETIANA    F  ...
...       ...       ...            ...                         ...  ...  ...
1682       DU  19007257        ENRIQUE             MARTIN BENJAMIN    M  ...
1683       DU  32145959       GONZALEZ           ROMINA  ALEJANDRA    F  ...
1684       DU  17477422      MALDONADO                     CLAUDIA    F  ...
1685       DU  14959515    MAC DOUGALL                 SERGIO LUIS    M  ...
1686       DU  31675563          CRACI            VERONICA BEATRIZ    F  ...

        CP  Provincia  Tipo_domi    Telefono Revista Incapacidad  \
0     1650          2          1  1158319409      99           0
1     1628          2          1  1127915604      99           0
2     1627          2          1  1168116908      99           0
3     1627          2          1         NaN      99           0
4     1629          2          1  2304301189      99           0
...    ...        ...        ...         ...     ...         ...
1682  1667          2          1  1164135879      99           0
1683  1865          2          1         NaN      99           0
1684  1611          2          1  1167011882      99           0
1685  1611          2          1         NaN      99           0
1686  1406          2          1         NaN      99           0

     Tipo_Beneficiario Fch_Alta_OS   nro_gpo      nro_sss
0                    4     1112022  20001933  351968327.0
1                    4     1112022  20001941  351994841.0
2                    4     1112022  20001944  351974448.0
3                    4     1112022  20001944  351974448.0
4                    4     1112022  20001946  351989198.0
...                ...         ...       ...          ...
1682                 4     1062023  20005799          NaN
1683                 4     1052023  20005852  352276196.0
1684                 4     1062023  20006025  352691714.0
1685                 4     1062023  20006025  352691714.0
1686                 4     1062023  20006029  352641009.0

[1687 rows x 28 columns]

In [4]:
print(padon_1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1726 entries, 0 to 1725
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CUIL TITULAR*        1119 non-null   object
 1   CUIL*                567 non-null    float64
 2   APELLIDO*            1726 non-null   object
 3   NOMBRES*             1726 non-null   object
 4   DOMICILIO (calle)*   1698 non-null   object
 5   Domicilio (altura)*  1667 non-null   object
 6   LOCALIDAD*           1705 non-null   object
 7   TELEFONO             1215 non-null   object
 8   N° DE FORMULARIO     1614 non-null   object
 9   FECHA DE ALTA*       1664 non-null   object
 10  FECHA DE NAC.*       1549 non-null   object
 11  NACIONALIDAD*        1725 non-null   float64
 12  Sexo*                1723 non-null   object
 13  Estado Civil*        1667 non-null   float64
 14  Parentesco*          1711 non-null   float64
 15  SEDE                 0 non-null      float64
 16  Discapacidad*        1725 non-null   object
 17  Unnamed: 17          62 non-null     object
dtypes: float64(5), object(13)
memory usage: 242.8+ KB
None

### cargar archivo 2

In [20]:
archivo = None
while True:
    archivo = funciones.seleccionar_archivo()
    print(archivo)
    if archivo:
        ruta_archivo = archivo.name
        try:
            #padron_2 = pd.read_excel(ruta_archivo, engine='xlrd')
            padron_2 = pd.read_csv(archivo, sep=";", encoding="ISO-8859-1")
            print(padron_2)
            break
        except UnicodeDecodeError:
            print("Error de decodificación de caracteres. Intenta con otra codificación o archivo.")
            continue
    else:
        print("Archivo incorrecto. Por favor, vuelva a cargarlo.")

<_io.TextIOWrapper name='C:/Users/zickd/Downloads/padron_completo_13-06-23.csv' mode='r' encoding='cp1252'>
       Nro. OS      Plan del Afiliado Opcion  Nro. Grupo Familiar  \
0            7            Desregulado     SI             26407599
1            7            Desregulado     SI             26407599
2            6               Afiliado     SI             30694069
3           10            Desregulado     SI             31403090
4            1  Monotributista social     NO             36821087
...        ...                    ...    ...                  ...
15296        4            Desregulado     SI             21601831
15297        4            Desregulado     SI             21601831
15298        4            Desregulado     SI             21601831
15299        4            Desregulado     SI             21601831
15300        1               Afiliado     SI             36602782

         Nro. Afiliado Parentesco con el TITULAR Apellido Afiliado  \
0      020-26407599-00                   TITULAR              ABAD
1      020-26407599-02                    Hijo/a             TEVEZ
2      010-30694069-00                   TITULAR             ABADI
3      040-31403090-00                   TITULAR           ABALLAY
4      030-36821087-00                   TITULAR           ABALLAY
...                ...                       ...               ...
15296  030-21601831-04                    Hijo/a            MORTON
15297  030-21601831-05                    Hijo/a          SAFFORES
15298  030-21601831-06                    Hijo/a            MORTON
15299  030-21601831-07                    Hijo/a            MORTON
15300  010-36602782-00                   TITULAR         ZWIERCZYK

              Nombre Afiliado                Tipo Documento  Nro. Documento  \
0                      VANESA  Documento Nacional Identidad        26407599
1                       MATEO  Documento Nacional Identidad        47279801
2                  PEDRO RAUL  Documento Nacional Identidad        30694069
3          VERONICA ALEJANDRA  Documento Nacional Identidad        31403090
4      VICTORIA DULCE DANIELA  Documento Nacional Identidad        36821087
...                       ...                           ...             ...
15296        ANTHONY VALENTIN  Documento Nacional Identidad        54403271
15297          MICAELA XIMENA  Documento Nacional Identidad        48231861
15298         NAIARA CONTANZA  Documento Nacional Identidad        52668909
15299          ISABELLA ANAHI  Documento Nacional Identidad        56631137
15300           HECTOR DAMIAN  Documento Nacional Identidad        36602782

       ... Nro. Puerta Piso Departamento Barrio         Localidad  \
0      ...        3165  NaN          NaN    NaN     VICENTE LOPEZ
1      ...        3165  NaN          NaN    NaN     VICENTE LOPEZ
2      ...        4045  NaN          NaN    NaN             MERLO
3      ...           1  NaN          NaN    NaN  FLORENCIO VARELA
4      ...        1520  NaN          NaN    NaN   VIRREY DEL PINO
...    ...         ...  ...          ...    ...               ...
15296  ...        5523  NaN          NaN    NaN   ISIDRO CASANOVA
15297  ...        5523  NaN          NaN    NaN   ISIDRO CASANOVA
15298  ...        5523  NaN          NaN    NaN   ISIDRO CASANOVA
15299  ...        5523  NaN          NaN    NaN   ISIDRO CASANOVA
15300  ...        3057  NaN          NaN    NaN  FLORENCIO VARELA

          Provincia  Codigo Postal         Telefono        Celular  \
0      BUENOS AIRES           1638                      1135614959
1      BUENOS AIRES           1638              NaN            NaN
2      BUENOS AIRES           1722                    11 5937-8276
3      BUENOS AIRES           1888       1133164359
4      BUENOS AIRES           1763  11 11 3818-6283
...             ...            ...              ...            ...
15296  BUENOS AIRES            NaN              NaN            NaN
15297  BUENOS AIRES            NaN              NaN            NaN
15298  BUENOS AIRES            NaN              NaN            NaN
15299  BUENOS AIRES            NaN              NaN            NaN
15300  BUENOS AIRES           1888     11 4221-4317  11 1552280736

                         Email
0                          NaN
1                          NaN
2      pedro_abadi@hotmail.com
3                          NaN
4                          NaN
...                        ...
15296                      NaN
15297                      NaN
15298                      NaN
15299                      NaN
15300                      NaN

[15301 rows x 34 columns]

### Normalizar DNI archivo convenio

In [21]:

#armar el camp DNI juntando las los campos cuil titular y cuil familiar
padon_1['dni']=padon_1['CUIL TITULAR*'].fillna(padon_1['CUIL*'])
#limpiar el nuevo campo dni dejando solo los numeros 
padon_1['dni']=padon_1['dni'].apply(lambda x: re.sub('[^0-9]', '', str(x)))
#dejar solo los numreros eliminar caracteres 
padon_1['dni2']=padon_1['dni'].apply(lambda x: x[2:10] if len(x)>= 8 else '0')
#extraer el dni del cuil y dejar vacios los q son menores  a 8
padon_1['dni2']=padon_1['dni2'].astype(int)
#pasar el campo a int 
padon_1['FECHA DE NAC.*']=padon_1['FECHA DE NAC.*'].astype(str)
#convertir fecha. 
print(padon_1['FECHA DE NAC.*'])
padon_1=funciones.transformar_fecha(padon_1, 'FECHA DE NAC.*')
#print(padon_1[['FECHA DE ALTA*','FECHA DE NAC.*','dni2']].head(30))q

0       1999-02-12 00:00:00
1       1974-11-03 00:00:00
2       1985-09-19 00:00:00
3       1991-03-20 00:00:00
4       2001-02-03 00:00:00
               ...
1721                    nan
1722                    nan
1723                    nan
1724                    nan
1725                    nan
Name: FECHA DE NAC.*, Length: 1726, dtype: object

c:\Users\zickd\OneDrive\Documentos\repositoriosGit\osoetsy_csv\funciones.py:32: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df[columna]=pd.to_datetime(df[columna], dayfirst=False, errors='coerce')

### Errores

In [ ]:
condiciones = [
    lambda row: row['dni'] is None or len(str(row['dni'])) < 8,
    lambda row: row['FECHA DE NAC.*'] is None or (pd.to_datetime('today') - pd.to_datetime(row['FECHA DE NAC.*'])).days // 365.25 > 80,
    lambda row: row['CUIL*'] >999999 and (pd.to_datetime('today') - pd.to_datetime(row['FECHA DE NAC.*'])).days / 365.25 > 25,
    lambda row: row['LOCALIDAD*'] is None
]
mensajes = [
    'Error en DNI',
    'Error en la edad',
    'familiar mayor de edad',
    'localidad vacía'
]

def generar_columnas_error(row):
    errores = {}
    for i in range(len(condiciones)):
        if condiciones[i](row):
            columna_error = f'error{i+1}'
            errores[columna_error] = mensajes[i]
    return pd.Series(errores)

df_errores = padon_1.apply(generar_columnas_error, axis=1)


df_nuevo = pd.concat([padon_1, df_errores], axis=1)

df_sin_error = df_nuevo[df_nuevo['error1'].notna() | df_nuevo['error2'].notna() | df_nuevo['error3'].notna()]

df_sin_error.to_excel(r'C:\Users\zickd\Downloads\test_errores.xlsx', engine='openpyxl', index=False)

df_sin_errores = df_nuevo[df_nuevo['error1'].isnull() & df_nuevo['error2'].isnull() & df_nuevo['error3'].isnull()]

#df_errores.to_excel(r'C:\Users\zickd\Downloads\sin_errores.xlsx', engine='openpyxl', index=False)

df_sin_errores.to_excel(r'C:\Users\zickd\Downloads\sin_errores.xlsx', engine='openpyxl', index=False)

### Merge archivos x DNI

In [44]:
cruce_tis=pd.merge(padon_1, padron_2, left_on='dni2', right_on='Nro. Documento', how='left', indicator=True)
#cruce_tis.to_excel(r'C:\Users\zickd\Downloads\merge.xlsx', engine='openpyxl', index=False)

cruce_tis_filtro=cruce_tis[cruce_tis['_merge']=='left_only']

#print(cruce_tis_filtro.head(5))

### exportar el cruce

In [46]:
save_path = filedialog.askdirectory()
#uso iloc por si las columnas tienen el mismo nombre, necesito la primeras 20 columnas
cruce_tis_filtro.iloc[:, :18].to_excel(save_path + '\cruce_tis.xlsx', engine='openpyxl' ,index = False )