In [1]:
import pandas as pd
import numpy as np
import xlwt
import xlrd
from tkinter import filedialog
import tkinter as tk
import customtkinter as ctk
from customtkinter import filedialog
import funciones
import datetime
from datetime import datetime
import re

### cargar archivo 1

In [3]:
archivo = None
while True:
    archivo = funciones.seleccionar_archivo()
    print(archivo)
    if archivo:
        ruta_archivo = archivo.name
        try:
            padon_1 = pd.read_excel(ruta_archivo, engine='openpyxl')
            #padron = pd.read_csv(archivo, sep=";", encoding="ISO-8859-1")
            print(padon_1)
            break
        except UnicodeDecodeError:
            print("Error de decodificación de caracteres. Intenta con otra codificación o archivo.")
            continue
    else:
        print("Archivo incorrecto. Por favor, vuelva a cargarlo.")

<_io.TextIOWrapper name='C:/Users/zickd/Downloads/meplife/UOETSYLRA JUNIO.xlsx' mode='r' encoding='cp1252'>
      Codigo  CUIT_Empleador  CUIL_Titular  Parentesco  CUIL_Familiar  \
0     127406     20240830214   20240830214           0    20240830214
1     127406     20119590958   20119590958           0    20119590958
2     127406     27425694192   27425694192           0    27425694192
3     127406     27425694192   27425694192           3    20549159851
4     127406     27270992132   27270992132           0    27270992132
...      ...             ...           ...         ...            ...
1682  127406     20190072577   20190072577           0    20190072577
1683  127406     27321459590   27321459590           0    27321459590
1684  127406     27174774221   27174774221           0    27174774221
1685  127406     27174774221   27174774221           1    20149595150
1686  127406     27316755637   27316755637           0    27316755637

     Tipo_Doc   Nro_Doc       Apellido                      Nombre Sexo  ...  \
0          DU  24083021         ELISII   CHRISTIAN MAURICIO JAVIER    M  ...
1          DU  11959095       PEDEZERT            FERNANDO RICARDO    M  ...
2          DU  42569419   NINA RAMIREZ               TANIA SOLEDAD    F  ...
3          DU  54915985  ANDACABA NINA                ULISES UZIEL    M  ...
4          DU  27099213            RAU             CINTHIA BETIANA    F  ...
...       ...       ...            ...                         ...  ...  ...
1682       DU  19007257        ENRIQUE             MARTIN BENJAMIN    M  ...
1683       DU  32145959       GONZALEZ           ROMINA  ALEJANDRA    F  ...
1684       DU  17477422      MALDONADO                     CLAUDIA    F  ...
1685       DU  14959515    MAC DOUGALL                 SERGIO LUIS    M  ...
1686       DU  31675563          CRACI            VERONICA BEATRIZ    F  ...

        CP  Provincia  Tipo_domi    Telefono Revista Incapacidad  \
0     1650          2          1  1158319409      99           0
1     1628          2          1  1127915604      99           0
2     1627          2          1  1168116908      99           0
3     1627          2          1         NaN      99           0
4     1629          2          1  2304301189      99           0
...    ...        ...        ...         ...     ...         ...
1682  1667          2          1  1164135879      99           0
1683  1865          2          1         NaN      99           0
1684  1611          2          1  1167011882      99           0
1685  1611          2          1         NaN      99           0
1686  1406          2          1         NaN      99           0

     Tipo_Beneficiario Fch_Alta_OS   nro_gpo      nro_sss
0                    4     1112022  20001933  351968327.0
1                    4     1112022  20001941  351994841.0
2                    4     1112022  20001944  351974448.0
3                    4     1112022  20001944  351974448.0
4                    4     1112022  20001946  351989198.0
...                ...         ...       ...          ...
1682                 4     1062023  20005799          NaN
1683                 4     1052023  20005852  352276196.0
1684                 4     1062023  20006025  352691714.0
1685                 4     1062023  20006025  352691714.0
1686                 4     1062023  20006029  352641009.0

[1687 rows x 28 columns]

### cargar archivo 2

In [11]:
archivo = None
while True:
    archivo = funciones.seleccionar_archivo()
    print(archivo)
    if archivo:
        ruta_archivo = archivo.name
        try:
            #padron_2 = pd.read_excel(ruta_archivo, engine='xlrd')
            padron_2 = pd.read_csv(archivo, sep=";", encoding="ISO-8859-1")
            print(padron_2)
            break
        except UnicodeDecodeError:
            print("Error de decodificación de caracteres. Intenta con otra codificación o archivo.")
            continue
    else:
        print("Archivo incorrecto. Por favor, vuelva a cargarlo.")

<_io.TextIOWrapper name='C:/Users/zickd/Downloads/meplife/20729.csv' mode='r' encoding='cp1252'>
       Nro. OS      Plan del Afiliado Opcion  Nro. Grupo Familiar  \
0            7            Desregulado     SI             26407599
1            7            Desregulado     SI             26407599
2            6               Afiliado     SI             30694069
3           10            Desregulado     SI             31403090
4            1  Monotributista social     NO             36821087
...        ...                    ...    ...                  ...
15523        4            Desregulado     SI             21601831
15524        4            Desregulado     SI             21601831
15525        4            Desregulado     SI             21601831
15526        4            Desregulado     SI             21601831
15527        1               Afiliado     SI             36602782

         Nro. Afiliado Parentesco con el TITULAR Apellido Afiliado  \
0      020-26407599-00                   TITULAR              ABAD
1      020-26407599-02                    Hijo/a             TEVEZ
2      010-30694069-00                   TITULAR             ABADI
3      040-31403090-00                   TITULAR           ABALLAY
4      030-36821087-00                   TITULAR           ABALLAY
...                ...                       ...               ...
15523  030-21601831-04                    Hijo/a            MORTON
15524  030-21601831-05                    Hijo/a          SAFFORES
15525  030-21601831-06                    Hijo/a            MORTON
15526  030-21601831-07                    Hijo/a            MORTON
15527  010-36602782-00                   TITULAR         ZWIERCZYK

              Nombre Afiliado                Tipo Documento  Nro. Documento  \
0                      VANESA  Documento Nacional Identidad        26407599
1                       MATEO  Documento Nacional Identidad        47279801
2                  PEDRO RAUL  Documento Nacional Identidad        30694069
3          VERONICA ALEJANDRA  Documento Nacional Identidad        31403090
4      VICTORIA DULCE DANIELA  Documento Nacional Identidad        36821087
...                       ...                           ...             ...
15523        ANTHONY VALENTIN  Documento Nacional Identidad        54403271
15524          MICAELA XIMENA  Documento Nacional Identidad        48231861
15525         NAIARA CONTANZA  Documento Nacional Identidad        52668909
15526          ISABELLA ANAHI  Documento Nacional Identidad        56631137
15527           HECTOR DAMIAN  Documento Nacional Identidad        36602782

       ... Nro. Puerta Piso Departamento Barrio         Localidad  \
0      ...        3165  NaN          NaN    NaN     VICENTE LOPEZ
1      ...        3165  NaN          NaN    NaN     VICENTE LOPEZ
2      ...        4045  NaN          NaN    NaN             MERLO
3      ...           1  NaN          NaN    NaN  FLORENCIO VARELA
4      ...        1520  NaN          NaN    NaN   VIRREY DEL PINO
...    ...         ...  ...          ...    ...               ...
15523  ...        5523  NaN          NaN    NaN   ISIDRO CASANOVA
15524  ...        5523  NaN          NaN    NaN   ISIDRO CASANOVA
15525  ...        5523  NaN          NaN    NaN   ISIDRO CASANOVA
15526  ...        5523  NaN          NaN    NaN   ISIDRO CASANOVA
15527  ...        3057  NaN          NaN    NaN  FLORENCIO VARELA

          Provincia  Codigo Postal         Telefono        Celular  \
0      BUENOS AIRES           1638                      1135614959
1      BUENOS AIRES           1638              NaN            NaN
2      BUENOS AIRES           1722                    11 5937-8276
3      BUENOS AIRES           1888       1133164359
4      BUENOS AIRES           1763  11 11 3818-6283
...             ...            ...              ...            ...
15523  BUENOS AIRES            NaN              NaN            NaN
15524  BUENOS AIRES            NaN              NaN            NaN
15525  BUENOS AIRES            NaN              NaN            NaN
15526  BUENOS AIRES            NaN              NaN            NaN
15527  BUENOS AIRES           1888     11 4221-4317  11 1552280736

                         Email
0                          NaN
1                          NaN
2      pedro_abadi@hotmail.com
3                          NaN
4                          NaN
...                        ...
15523                      NaN
15524                      NaN
15525                      NaN
15526                      NaN
15527                      NaN

[15528 rows x 34 columns]

### Normalizar DNI archivo convenio

In [4]:

#armar el camp DNI juntando las los campos cuil titular y cuil familiar
padon_1['dni']=padon_1['CUIL_Familiar'].fillna(padon_1['CUIL_Titular'])
#limpiar el nuevo campo dni dejando solo los numeros 
padon_1['dni']=padon_1['dni'].apply(lambda x: re.sub('[^0-9]', '', str(x)))
#dejar solo los numreros eliminar caracteres 
padon_1['dni2']=padon_1['dni'].apply(lambda x: x[2:10] if len(x)>= 8 else '0')
#extraer el dni del cuil y dejar vacios los q son menores  a 8
padon_1['dni2']=padon_1['dni2'].astype(int)
#pasar el campo a int 
padon_1['Fch_Nac']=padon_1['Fch_Nac'].astype(str).str.zfill(8)
padon_1['Fch_Nac']=padon_1['Fch_Nac'].astype(str)
#convertir fecha. 
print(padon_1['Fch_Nac'])
padon_1=funciones.transformar_fecha(padon_1, 'Fch_Nac')

#Función para normalizar la fecha
#def normalizar_fecha(fecha):
#    fecha_normalizada = datetime.strptime(fecha, "%d%m%Y").strftime("%d/%m/%Y")
#    return fecha_normalizada

#Aplicar la función a la columna "fech_nacimiento"
#padon_1['Fch_Nac'] = padon_1['Fch_Nac'].apply(normalizar_fecha)
#padon_1['Fch_Nac'] = padon_1['Fch_Nac'].astype(str)
padon_1[['provincia2','localidad']] = padon_1['Localidad'].str.split('-',expand = True, n=1)
print(padon_1.info(10))


padon_1.to_excel(r"C:\Users\zickd\Downloads\meplife\padon1.xlsx", engine='openpyxl')

0       01071974
1       25021958
2       20121997
3       12082015
4       01011979
          ...
1682    17051992
1683    04051986
1684    08011965
1685    03071962
1686    18051985
Name: Fch_Nac, Length: 1687, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1687 entries, 0 to 1686
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Codigo             1687 non-null   int64
 1   CUIT_Empleador     1687 non-null   int64
 2   CUIL_Titular       1687 non-null   int64
 3   Parentesco         1687 non-null   int64
 4   CUIL_Familiar      1687 non-null   int64
 5   Tipo_Doc           1687 non-null   object
 6   Nro_Doc            1687 non-null   int64
 7   Apellido           1687 non-null   object
 8   Nombre             1687 non-null   object
 9   Sexo               1687 non-null   object
 10  Estado_Civil       1687 non-null   int64
 11  Fch_Nac            1687 non-null   object
 12  Nacionalidad       1687 non-null   int64
 13  Calle              1687 non-null   object
 14  Nro                203 non-null    object
 15  Piso               20 non-null     object
 16  Dpto               17 non-null     object
 17  Localidad          1687 non-null   object
 18  CP                 1687 non-null   object
 19  Provincia          1687 non-null   object
 20  Tipo_domi          1687 non-null   object
 21  Telefono           217 non-null    object
 22  Revista            1687 non-null   int64
 23  Incapacidad        1687 non-null   int64
 24  Tipo_Beneficiario  1687 non-null   int64
 25  Fch_Alta_OS        1687 non-null   int64
 26  nro_gpo            1687 non-null   int64
 27  nro_sss            1682 non-null   float64
 28  dni                1687 non-null   object
 29  dni2               1687 non-null   int32
 30  provincia2         1687 non-null   object
 31  localidad          1652 non-null   object
dtypes: float64(1), int32(1), int64(13), object(17)
memory usage: 415.3+ KB
None

### Errores

In [36]:
condiciones = [
    lambda row: row['dni2'] is None or len(str(row['dni2'])) < 8,
    lambda row: row['Fch_Nac'] is None or (pd.to_datetime('today') - pd.to_datetime(row['Fch_Nac'])).days // 365.25 > 80,
    lambda row: row['dni2'] >999999 and (pd.to_datetime('today') - pd.to_datetime(row['Fch_Nac'])).days / 365.25 > 25,
    lambda row: row['localidad'] is None
]
mensajes = [
    'familiar mayor de edad',
    'Error en DNI',
    'Error en la edad',
    'localidad vacía'
]

def generar_columnas_error(row):
    errores = {}
    for i in range(len(condiciones)):
        if condiciones[i](row):
            columna_error = f'error{i+1}'
            errores[columna_error] = mensajes[i]
    if errores:
        return pd.Series(errores)
    else:
        return pd.Series()

df_errores = padon_1.apply(generar_columnas_error, axis=1)
print(df_errores.head(20))
df_nuevo = pd.concat([padon_1, df_errores],axis=1)
df_sin_error = df_nuevo[df_errores.any(axis=1)]


#df_sin_error = df_nuevo[df_nuevo['error1'].notna() | df_nuevo['error2'].notna() | df_nuevo['error3'].notna()]

df_sin_error.to_excel(r'C:\Users\zickd\Downloads\meplife\test_errores.xlsx', engine='openpyxl', index=False)

#df_sin_errores = df_nuevo[df_nuevo['error1'].isnull() & df_nuevo['error2'].isnull() & df_nuevo['error3'].isnull()]

#df_errores.to_excel(r'C:\Users\zickd\Downloads\sin_errores.xlsx', engine='openpyxl', index=False)

#df_sin_errores.to_excel(r'C:\Users\zickd\Downloads\meplife\sin_errores.xlsx', engine='openpyxl', index=False)

          error2            error3 error4
0   Error en DNI  Error en la edad    NaN
1   Error en DNI  Error en la edad    NaN
2   Error en DNI  Error en la edad    NaN
3   Error en DNI  Error en la edad    NaN
4   Error en DNI  Error en la edad    NaN
5   Error en DNI  Error en la edad    NaN
6   Error en DNI  Error en la edad    NaN
7   Error en DNI  Error en la edad    NaN
8   Error en DNI  Error en la edad    NaN
9   Error en DNI  Error en la edad    NaN
10  Error en DNI  Error en la edad    NaN
11  Error en DNI  Error en la edad    NaN
12  Error en DNI  Error en la edad    NaN
13  Error en DNI  Error en la edad    NaN
14  Error en DNI  Error en la edad    NaN
15  Error en DNI  Error en la edad    NaN
16  Error en DNI  Error en la edad    NaN
17  Error en DNI  Error en la edad    NaN
18  Error en DNI  Error en la edad    NaN
19  Error en DNI  Error en la edad    NaN

### Merge archivos x DNI

In [ ]:
cruce_tis=pd.merge(padon_1, padron_2, left_on='dni2', right_on='Nro. Documento', how='left', indicator=True)
#cruce_tis.to_excel(r'C:\Users\zickd\Downloads\merge.xlsx', engine='openpyxl', index=False)

cruce_tis_filtro=cruce_tis[cruce_tis['_merge']=='left_only']

#print(cruce_tis_filtro.head(5))

### exportar el cruce

In [ ]:
save_path = filedialog.askdirectory()
#uso iloc por si las columnas tienen el mismo nombre, necesito la primeras 20 columnas
cruce_tis_filtro.iloc[:, :28].to_excel(save_path + '\cruce_meplife.xlsx', engine='openpyxl' ,index = False )