In [37]:
import pandas as pd
import numpy as np
import xlwt
import xlrd
from tkinter import filedialog
import tkinter as tk
import customtkinter as ctk
from customtkinter import filedialog
import funciones
import openpyxl
import dbfread
import glob
from pandastable import Table, TableModel # Importar clases de pandastable

### Subir reporte danilo

In [38]:
archivo = None
while True:
    archivo=funciones.seleccionar_archivo()
    print(archivo)
    if archivo:
        ruta_archivo = archivo.name
        try:
            
            #dbf = dbfread.DBF(ruta_archivo)
            monotributo = pd.read_excel(ruta_archivo, sheet_name=0)
            print(monotributo)
            break
        except UnicodeDecodeError:
            print("Error de decodificación de caracteres. Intenta con otra codificación o archivo.")
            continue
    else:
        print("Archivo incorrecto. Por favor, vuelva a cargarlo.")

<_io.TextIOWrapper name='G:/Mi unidad/osoetsylra/liquidaciones/cruce_contribuciones_para_distribuir/transferncias AFIP reporte de errores en importacion Gecros octubre 2023 completo.xlsx' mode='r' encoding='cp1252'>
             cuit  cuil                                    descripcion  \
0     20401847341   NaN  401: Contrib. Patr. sin Empl. para distribuir
1     20401847341   NaN  401: Contrib. Patr. sin Empl. para distribuir
2     20401847341   NaN  401: Contrib. Patr. sin Empl. para distribuir
3     20148029165   NaN  401: Contrib. Patr. sin Empl. para distribuir
4     20241060366   NaN  401: Contrib. Patr. sin Empl. para distribuir
...           ...   ...                                            ...
8666  27959478606   NaN  401: Contrib. Patr. sin Empl. para distribuir
8667  27959819152   NaN  401: Contrib. Patr. sin Empl. para distribuir
8668  27960117943   NaN  401: Contrib. Patr. sin Empl. para distribuir
8669  27961039008   NaN  401: Contrib. Patr. sin Empl. para distribuir
8670  27961168517   NaN  401: Contrib. Patr. sin Empl. para distribuir

      obrasocial  periodo  sueldo  aporte   contri  otrosconc      fecha
0            NaN     2204       0       0     3.74          0 2023-10-05
1            NaN     2210       0       0     2.12          0 2023-10-05
2            NaN     2302       0       0     4.68          0 2023-10-05
3            NaN     2309       0       0     0.15          0 2023-10-25
4            NaN     2304       0       0     1.92          0 2023-10-25
...          ...      ...     ...     ...      ...        ...        ...
8666         NaN     2308       0       0  2755.58          0 2023-10-20
8667         NaN     2308       0       0  1377.78          0 2023-10-20
8668         NaN     2308       0       0  6888.94          0 2023-10-20
8669         NaN     2308       0       0  4133.37          0 2023-10-20
8670         NaN     2308       0       0  4133.37          0 2023-10-20

[8671 rows x 10 columns]

In [39]:
monotributo.dtypes

cuit                    int64
cuil                  float64
descripcion            object
obrasocial            float64
periodo                 int64
sueldo                  int64
aporte                  int64
contri                float64
otrosconc               int64
fecha          datetime64[ns]
dtype: object

###  Importar padron total gecros monotrbutistas

In [40]:
#cargar primero el padron de sidefi
archivo = None
while True:
    archivo = funciones.seleccionar_archivo()
    print(archivo)
    if archivo:
        ruta_archivo = archivo.name
        try:
            padron = pd.read_excel(ruta_archivo)
            #padron = pd.read_csv(archivo, sep=";", encoding="ISO-8859-1")
            print(padron)
            break
        except UnicodeDecodeError:
            print("Error de decodificación de caracteres. Intenta con otra codificación o archivo.")
            continue
    else:
        print("Archivo incorrecto. Por favor, vuelva a cargarlo.")

<_io.TextIOWrapper name='C:/Users/zickd/OneDrive/Escritorio/LIQUIDACION23.xlsx' mode='r' encoding='cp1252'>
                OS_NOMBRE          CUIL                    NOMPLAN PARENTESCO  \
0              OSOETSYLRA  2.092946e+10                  Afiliados    TITULAR
1              OSOETSYLRA  2.436609e+10                   Plan 100    TITULAR
2                 MEPLIFE  2.740914e+10  monotributista social mep    TITULAR
3              OSOETSYLRA  2.727502e+10                Desempleado    TITULAR
4              OSOETSYLRA  2.038062e+10                   Plan 100    TITULAR
...                   ...           ...                        ...        ...
66363  OTRAS AFILIACIONES  2.734093e+10                  Afiliados    TITULAR
66364  OTRAS AFILIACIONES  2.736203e+10                  Afiliados    TITULAR
66365             MEPLIFE  2.337400e+10  monotributista social mep    TITULAR
66366  OTRAS AFILIACIONES  2.720696e+10                  Afiliados    TITULAR
66367          OSOETSYLRA  2.036513e+10                Desregulado    TITULAR

       FECHA_BAJA                             EMP_NOMBRE         APELLIDO  \
0             NaN  (30516283781) TALLERES JUJUY S.A.C.I.    MAMANI MAMANI
1             NaN                                    NaN         ALBORNOZ
2             NaN              (27409138468) 27409138468           ROMERO
3      31/08/2017                                    NaN            ERAZO
4      26/11/2023                                    NaN  MANSILLA CRESPO
...           ...                                    ...              ...
66363  30/11/2013                                    NaN           ROMERO
66364  01/09/2013                                    NaN            LEIVA
66365  01/04/2023              (23374003534) 23374003534            PEREZ
66366         NaN                                    NaN         SINCLAIR
66367  30/01/2016                                    NaN           CAÐETE

                     NOMBRES                       TIPOBEN_NO  \
0               ARIEL FRANCO       00-RELACION DE DEPENDENCIA
1               NAHUEL OSCAR       00-RELACION DE DEPENDENCIA
2             VANESA SOLEDAD         07-MONOT. EFECTOR SOCIAL
3             GLADIS BEATRIZ  08-DESEMPLEO ANSES (LEY 24.013)
4         EZEQUIEL ALEJANDRO       00-RELACION DE DEPENDENCIA
...                      ...                              ...
66363  MARIA DE LOS MILAGROS       00-RELACION DE DEPENDENCIA
66364        EDITH ALEJANDRA       00-RELACION DE DEPENDENCIA
66365       LUCRECIA BEATRIZ         07-MONOT. EFECTOR SOCIAL
66366        GABRIELA MARIEL       00-RELACION DE DEPENDENCIA
66367          JORGE LEANDRO       00-RELACION DE DEPENDENCIA

                   ESTADO_AFI
0               Con Cobertura
1               Con Cobertura
2               Con Cobertura
3      Sin Cobertura por Baja
4      Sin Cobertura por Baja
...                       ...
66363  Sin Cobertura por Baja
66364  Sin Cobertura por Baja
66365           Con Cobertura
66366           Con Cobertura
66367  Sin Cobertura por Baja

[66368 rows x 10 columns]

In [41]:
padron['CUIL'] = pd.to_numeric(padron['CUIL'], errors='coerce').fillna(0).astype('Int64')

In [42]:
padron['CUIL'].head()

0    20929460368
1    24366090777
2    27409138468
3    27275022255
4    20380615240
Name: CUIL, dtype: Int64

#### Cruce de archivos!

In [43]:
liquidaciones_monot = pd.merge(monotributo, padron, left_on= 'cuit', right_on='CUIL', how='left', indicator=True)

In [47]:
path = funciones.seleccionar_directorio()
liquidaciones_monot.to_excel(path + '\cruce_errores.xlsx', index=False)

In [48]:
liquidaciones_monot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8672 entries, 0 to 8671
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   cuit         8672 non-null   int64
 1   cuil         0 non-null      float64
 2   descripcion  8672 non-null   object
 3   obrasocial   0 non-null      float64
 4   periodo      8672 non-null   int64
 5   sueldo       8672 non-null   int64
 6   aporte       8672 non-null   int64
 7   contri       8672 non-null   float64
 8   otrosconc    8672 non-null   int64
 9   fecha        8672 non-null   datetime64[ns]
 10  OS_NOMBRE    6400 non-null   object
 11  CUIL         6400 non-null   Int64
 12  NOMPLAN      6400 non-null   object
 13  PARENTESCO   6400 non-null   object
 14  FECHA_BAJA   1982 non-null   object
 15  EMP_NOMBRE   6394 non-null   object
 16  APELLIDO     6400 non-null   object
 17  NOMBRES      6400 non-null   object
 18  TIPOBEN_NO   6400 non-null   object
 19  ESTADO_AFI   6400 non-null   object
 20  _merge       8672 non-null   category
dtypes: Int64(1), category(1), datetime64[ns](1), float64(3), int64(5), object(10)
memory usage: 1.4+ MB

: