In [1]:
#instalar xlwt 
import pandas as pd
import numpy as np
import xlwt
from tkinter import filedialog
import tkinter as tk
import funciones
from funciones import seleccionar_archivo, transformar_fecha

In [2]:
archivo = None
while True:
    archivo = funciones.seleccionar_archivo()
    print(archivo)
    if archivo:
        ruta_archivo = archivo.name
        try:
            padon_1 = pd.read_excel(ruta_archivo, engine='openpyxl')
            #padron = pd.read_csv(archivo, sep=";", encoding="ISO-8859-1")
            print(padon_1)
            break
        except UnicodeDecodeError:
            print("Error de decodificación de caracteres. Intenta con otra codificación o archivo.")
            continue
    else:
        print("Archivo incorrecto. Por favor, vuelva a cargarlo.")

<_io.TextIOWrapper name='G:/Mi unidad/osoetsylra/importaciones_TIS_SD_ETC_a_sidefi/EVP/TINTOREROS FORMATO IMPORTACION COMPLETO.xlsx' mode='r' encoding='cp1252'>
      CUIL  TITULAR  CUIL FAMILIAR              APELLIDO- NOMBRES
0       20121598583    20121598583             Imaz Alberto Oscar  \
1       20122219659    20122219659         Orellano Ruben Alberto
2       20124965943    20124965943      Leguizamon Marcos Teofilo
3       20126737999    20126737999            Chavez Juan Alberto
4       20127410993    20127410993              Gomez Aldo Victor
...             ...            ...                            ...
8326    27961039008    27961039008       Leon Vazquez Maria Elena
8327    27961039008    20463513873  Benitez Santiago Ari Santiago
8328    27961168517    27961168517     Acosta Vera Maria Josefina
8329    27961168517    20585129020              Solis Dante Tadeo
8330    27961168517    20566313740           Solis Thiago Nicolas

     DOMICILIO (calle)* Domicilio (altura)*  CODIGO POSTAL*
0        128 E/ 15 Y 16                 S/N          1923.0  \
1               BECQUER                1751          1744.0
2           ECHEVERRIA                  391          1755.0
3           LUIS VERNET                2540          1832.0
4                FATUR                 2868          1757.0
...                 ...                 ...             ...
8326             CANADA                 704          1744.0
8327             CANADA                 704          1744.0
8328    LOS NOGALES 974                 NaN          1842.0
8329    LOS NOGALES 974                 NaN          1842.0
8330    LOS NOGALES 974                 NaN          1842.0

                 LOCALIDAD*    TELEFONO  Formulario  FECHA DE ALTA*
0                   Berisso  2214376625     15828745     2022-03-01  \
1                    Moreno  1156407731     16050179     2022-07-01
2                  Castillo  1103355585     15541410     2022-03-01
3           Lomas De Zamora         S/N     16046689     2022-07-01
4     Gregorio De Laferrere  1122813634    351167016     2022-02-01
...                     ...         ...          ...            ...
8326                 Moreno  1135726509     16052666     2022-07-01
8327                 Moreno  1135726509     16052666     2023-02-01
8328              El Jaguel   208669332     15859643     2022-03-01
8329              El Jaguel   208669332     15859643     2023-02-01
8330              El Jaguel   208669332     15859643     2023-02-01

     FECHA DE NAC.*  NACIONALIDAD* Sexo*  Estado Civil*  Parentesco*  Sede
0        1958-08-12             12     M              1            0   NaN  \
1        1958-05-13             12     M              1            0   NaN
2        1958-07-03             12     M              1            0   NaN
3        1959-02-23             12     M              1            0   NaN
4        1956-09-09             12     M              1            0   NaN
...             ...            ...   ...            ...          ...   ...
8326     1982-05-03            133     F              1            0   NaN
8327     2005-02-03             12     M              0            2   NaN
8328     1990-12-01            133     F              1            0   NaN
8329     2020-07-30             12     M              0            2   NaN
8330     2017-09-11             12     M              0            2   NaN

     Discapacidad* Convenio
0               NO      LSD
1               NO      EPV
2               NO      TIS
3               NO      EPV
4               NO      LSD
...            ...      ...
8326            NO      EPV
8327            NO      EPV
8328            NO      LSD
8329            NO      LSD
8330            NO      LSD

[8331 rows x 18 columns]

In [21]:
padron = pd.read_excel(r'G:\Mi unidad\osoetsylra\importaciones_TIS_SD_ETC_a_sidefi\EVP\AGREGAR A EPV MATANZA DOS 05-06-2023.xlsx')
print(padron.head(5))

   CUIL TITULAR* CUIL ADHRENTE APELLIDO*          NOMBRES* DOMICILIO (calle)*
0    27308743085           NaN    ROMANO  YANINA ALEJANDRA         DEL BAÑADO  \
1    27444138055           NaN  GANDULFO         GERALDINE           NORQUINS
2    27444138055   27542088260    ZOCINE            MAYLIS           NORQUINS
3    27418516076           NaN     NUÑEZ         GERALDINE         ALBARRACIN
4    23369512404           NaN   PANTOJA       KAREN BELEN         CNEL ARENA

  Domicilio (altura)*  LOCALIDAD*    TELEFONO  N° DE FORMULARIO
0                 993  R CASTILLO  1138051121          16083115  \
1                2415  R CASTILLO  1124678572          16083262
2                2415  R CASTILLO  1124678572          16083262
3                1681  I CASANOVA  1170194684          16085276
4                 761       MORON  1128647425          16085328

  FECHA DE ALTA*       FECHA DE NAC.*  NACIONALIDAD* Sexo*  Estado Civil*
0     01-08-2022  1984-08-18 00:00:00             12     F              1  \
1     01-08-2022  1997-02-21 00:00:00             12     F              1
2     01-08-2022  2014-08-01 00:00:00             12     F              1
3     01-08-2022  1999-05-10 00:00:00             12     F              1
4     01-08-2022  1992-07-02 00:00:00             12     F              1

   Parentesco*       SEDE Discapacidad*
0            0  SAN JUSTO            NO
1            0  SAN JUSTO            NO
2            2  SAN JUSTO            NO
3            0  SAN JUSTO            NO
4            0  SAN JUSTO            NO

In [3]:
padron[['provincia2','localidad']] = padron['Localidad'].str.split('-',expand = True, n=1)
print(padron.head(5))

   Codigo  CUIT_Empleador  CUIL_Titular  Parentesco  CUIL_Familiar Tipo_Doc
0  127406     20240830214   20240830214           0    20240830214       DU  \
1  127406     20119590958   20119590958           0    20119590958       DU
2  127406     27425694192   27425694192           0    27425694192       DU
3  127406     27425694192   27425694192           3    20549159851       DU
4  127406     27270992132   27270992132           0    27270992132       DU

    Nro_Doc       APELLIDO                      NOMBRE Sexo  ...  Tipo_domi
0  24083021         ELISII   CHRISTIAN MAURICIO JAVIER    M  ...          1  \
1  11959095       PEDEZERT            FERNANDO RICARDO    M  ...          1
2  42569419   NINA RAMIREZ               TANIA SOLEDAD    F  ...          1
3  54915985  ANDACABA NINA                ULISES UZIEL    M  ...          1
4  27099213            RAU             CINTHIA BETIANA    F  ...          1

     Telefono  Revista Incapacidad Tipo_Beneficiario Fch_Alta_OS      nro_sss
0  1158319409       99           0                 4  01-11-2022  351968327.0  \
1  1127915604       99           0                 4  01-11-2022  351994841.0
2  1168116908       99           0                 4  01-11-2022  351974448.0
3         NaN       99           0                 4  01-11-2022  351974448.0
4  2304301189       99           0                 4  01-11-2022  351989198.0

         SEDE     provincia2      localidad
0  SAN MARTIN  Buenos Aires    Billinghurst
1       CHILE  Buenos Aires      Loma Verde
2  SAN MARTIN  Buenos Aires          Matheu
3  SAN MARTIN  Buenos Aires          Matheu
4  SAN MARTIN  Buenos Aires           Pilar

[5 rows x 30 columns]

In [22]:
#padron[['provincia','localidads']] = padron['Provincia'].str.split('-',expand = True, n=1)
diccionario_sedes = {'CHILE':'10', 'SAN MARTIN':'12', 'SAN JUSTO':'11', 'QUILMES':'14' }
padron['SEDE'] = padron['SEDE'].replace(diccionario_sedes)

In [ ]:
#padron = padron.drop(['CUIT_Empleador','Piso','Dpto','CP']
#, axis = 1)

In [8]:
padron= padron.loc[:, ['CUIT_Empleador','CUIL_Titular','CUIL_Familiar','APELLIDO','NOMBRE','Calle','Nro',
                        'Localidad','Telefono','nro_sss','Fch_Alta_OS','Fch_Nac','Nacionalidad','Sexo','Estado_Civil','Parentesco','SEDE',
                        'provincia2','Incapacidad']]
padron.dtypes

CUIT_Empleador      int64
CUIL_Titular        int64
CUIL_Familiar       int64
APELLIDO           object
NOMBRE             object
Calle              object
Nro                object
Localidad          object
Telefono           object
nro_sss           float64
Fch_Alta_OS        object
Fch_Nac            object
Nacionalidad        int64
Sexo               object
Estado_Civil        int64
Parentesco          int64
SEDE               object
provincia2         object
Incapacidad         int64
dtype: object

# Transformar Fechas

In [23]:
padron['FECHA DE ALTA*']= padron['FECHA DE ALTA*'].apply(transformar_fecha)

In [25]:
padron.to_excel(r'G:\Mi unidad\osoetsylra\importaciones_TIS_SD_ETC_a_sidefi\EVP\EPV MATANZA DOS 05-06-2023.xlsx', engine='openpyxl', index=False)
print(padron)

     CUIL TITULAR* CUIL ADHRENTE     APELLIDO*                  NOMBRES*
0      27308743085           NaN        ROMANO          YANINA ALEJANDRA  \
1      27444138055           NaN      GANDULFO                 GERALDINE
2      27444138055   27542088260        ZOCINE                    MAYLIS
3      27418516076           NaN         NUÑEZ                 GERALDINE
4      23369512404           NaN       PANTOJA               KAREN BELEN
..             ...           ...           ...                       ...
170    27343639827   27585269323  GUILLEN DIAZ         HENUTMIRE YEXALEM
171    27343639827   20522650200  CRESPO DIAZ              JOSE ALBERTO
172    20270217711           NaN      GUILLEN            ARNALDO ANDRES
173    27954099250           NaN       BERDEJO  EDITH OLIVIA CONCEPCION
174    27945559107           NaN        OSORIO               NARA YAMILA

    DOMICILIO (calle)* Domicilio (altura)*       LOCALIDAD*    TELEFONO
0           DEL BAÑADO                 993       R CASTILLO  1138051121  \
1             NORQUINS                2415       R CASTILLO  1124678572
2             NORQUINS                2415       R CASTILLO  1124678572
3           ALBARRACIN                1681       I CASANOVA  1170194684
4           CNEL ARENA                 761            MORON  1128647425
..                 ...                 ...              ...         ...
170             ALAGON                6895  GONZALEZ CATAN   1154955098
171             ALAGON                6895  GONZALEZ CATAN   1154955098
172             ALAGON                6895  GONZALEZ CATAN   1161619009
173             ATALCO                4055  GONZALEZ CATAN   1168005261
174     JUAN B. JUSTO                 6845   GONZALEZ CATAN  1165548800

     N° DE FORMULARIO FECHA DE ALTA*       FECHA DE NAC.*  NACIONALIDAD*
0            16083115     01/08/2022  1984-08-18 00:00:00             12  \
1            16083262     01/08/2022  1997-02-21 00:00:00             12
2            16083262     01/08/2022  2014-08-01 00:00:00             12
3            16085276     01/08/2022  1999-05-10 00:00:00             12
4            16085328     01/08/2022  1992-07-02 00:00:00             12
..                ...            ...                  ...            ...
170          16453545     01/09/2022  2020-09-13 00:00:00             12
171          16453545     01/09/2022  2011-05-09 00:00:00             12
172          16345354     01/09/2022  1978-12-18 00:00:00             12
173          16456546     01/09/2022  1982-12-12 00:00:00            132
174          15355453     01/09/2022  2000-02-05 00:00:00            132

    Sexo*  Estado Civil*  Parentesco* SEDE Discapacidad*
0       F              1            0   11            NO
1       F              1            0   11            NO
2       F              1            2   11            NO
3       F              1            0   11            NO
4       F              1            0   11            NO
..    ...            ...          ...  ...           ...
170     F              1            2   11            NO
171     M              1            2   11            NO
172     M              2            0   11            NO
173     F              1            0   11            NO
174     F              0            0   11            NO

[175 rows x 17 columns]