In [1]:
#instalar xlwt 
import pandas as pd
import numpy as np
import xlwt
from tkinter import filedialog
import tkinter as tk
import funciones

In [16]:
archivo = None
while True:
    archivo = funciones.seleccionar_archivo()
    print(archivo)
    if archivo:
        padron = pd.read_csv(archivo, sep= ";")
        break 
    elif not archivo:
        print("archivo erroneo vuelva a cargarlo")

<_io.TextIOWrapper name='G:/Mi unidad/osoetsylra/importaciones_TIS_SD_ETC_a_sidefi/meplife/PADRON ABRIL 2023MEPLIFE.csv' mode='r' encoding='cp1252'>

In [2]:
padron = pd.read_excel(r'G:\Mi unidad\osoetsylra\importaciones_TIS_SD_ETC_a_sidefi\meplife\PADRON ABRIL 2023MEPLIFE.xlsx')
print(padron.head(5))

   Codigo  CUIT_Empleador  CUIL_Titular  Parentesco  CUIL_Familiar Tipo_Doc
0  127406     20240830214   20240830214           0    20240830214       DU  \
1  127406     20119590958   20119590958           0    20119590958       DU
2  127406     27425694192   27425694192           0    27425694192       DU
3  127406     27425694192   27425694192           3    20549159851       DU
4  127406     27270992132   27270992132           0    27270992132       DU

    Nro_Doc       APELLIDO                      NOMBRE Sexo  ...    CP
0  24083021         ELISII   CHRISTIAN MAURICIO JAVIER    M  ...  1650  \
1  11959095       PEDEZERT            FERNANDO RICARDO    M  ...  1628
2  42569419   NINA RAMIREZ               TANIA SOLEDAD    F  ...  1627
3  54915985  ANDACABA NINA                ULISES UZIEL    M  ...  1627
4  27099213            RAU             CINTHIA BETIANA    F  ...  1629

  Provincia  Tipo_domi    Telefono Revista Incapacidad Tipo_Beneficiario
0         2          1  1158319409      99           0                 4  \
1         2          1  1127915604      99           0                 4
2         2          1  1168116908      99           0                 4
3         2          1         NaN      99           0                 4
4         2          1  2304301189      99           0                 4

  Fch_Alta_OS      nro_sss        SEDE
0  01-11-2022  351968327.0  SAN MARTIN
1  01-11-2022  351994841.0       CHILE
2  01-11-2022  351974448.0  SAN MARTIN
3  01-11-2022  351974448.0  SAN MARTIN
4  01-11-2022  351989198.0  SAN MARTIN

[5 rows x 28 columns]

In [3]:
padron[['provincia2','localidad']] = padron['Localidad'].str.split('-',expand = True, n=1)
print(padron.head(5))

   Codigo  CUIT_Empleador  CUIL_Titular  Parentesco  CUIL_Familiar Tipo_Doc
0  127406     20240830214   20240830214           0    20240830214       DU  \
1  127406     20119590958   20119590958           0    20119590958       DU
2  127406     27425694192   27425694192           0    27425694192       DU
3  127406     27425694192   27425694192           3    20549159851       DU
4  127406     27270992132   27270992132           0    27270992132       DU

    Nro_Doc       APELLIDO                      NOMBRE Sexo  ...  Tipo_domi
0  24083021         ELISII   CHRISTIAN MAURICIO JAVIER    M  ...          1  \
1  11959095       PEDEZERT            FERNANDO RICARDO    M  ...          1
2  42569419   NINA RAMIREZ               TANIA SOLEDAD    F  ...          1
3  54915985  ANDACABA NINA                ULISES UZIEL    M  ...          1
4  27099213            RAU             CINTHIA BETIANA    F  ...          1

     Telefono  Revista Incapacidad Tipo_Beneficiario Fch_Alta_OS      nro_sss
0  1158319409       99           0                 4  01-11-2022  351968327.0  \
1  1127915604       99           0                 4  01-11-2022  351994841.0
2  1168116908       99           0                 4  01-11-2022  351974448.0
3         NaN       99           0                 4  01-11-2022  351974448.0
4  2304301189       99           0                 4  01-11-2022  351989198.0

         SEDE     provincia2      localidad
0  SAN MARTIN  Buenos Aires    Billinghurst
1       CHILE  Buenos Aires      Loma Verde
2  SAN MARTIN  Buenos Aires          Matheu
3  SAN MARTIN  Buenos Aires          Matheu
4  SAN MARTIN  Buenos Aires           Pilar

[5 rows x 30 columns]

In [4]:
#padron[['provincia','localidads']] = padron['Provincia'].str.split('-',expand = True, n=1)
diccionario_sedes = {'CHILE':'10', 'SAN MARTIN':'12' }
padron['SEDE'] = padron['SEDE'].replace(diccionario_sedes)

In [ ]:
#padron = padron.drop(['CUIT_Empleador','Piso','Dpto','CP']
#, axis = 1)

In [8]:
padron= padron.loc[:, ['CUIT_Empleador','CUIL_Titular','CUIL_Familiar','APELLIDO','NOMBRE','Calle','Nro',
                        'Localidad','Telefono','nro_sss','Fch_Alta_OS','Fch_Nac','Nacionalidad','Sexo','Estado_Civil','Parentesco','SEDE',
                        'provincia2','Incapacidad']]
padron.dtypes

CUIT_Empleador      int64
CUIL_Titular        int64
CUIL_Familiar       int64
APELLIDO           object
NOMBRE             object
Calle              object
Nro                object
Localidad          object
Telefono           object
nro_sss           float64
Fch_Alta_OS        object
Fch_Nac            object
Nacionalidad        int64
Sexo               object
Estado_Civil        int64
Parentesco          int64
SEDE               object
provincia2         object
Incapacidad         int64
dtype: object

# Transformar Fechas

In [ ]:


from datetime import datetime

datetime.strptime('01071974', '%d%m%Y').strftime('%d-%m-%Y')


#padron['Fch_Alta_OS'] = padron['Fch_Alta_OS'].astype(str).str.zfill(8)
#padron

In [14]:
padron.to_excel(r'G:\Mi unidad\osoetsylra\importaciones_TIS_SD_ETC_a_sidefi\meplife\abril2023final.xlsx', engine='openpyxl', index='False')
print(padron)

      CUIT_Empleador  CUIL_Titular  CUIL_Familiar       APELLIDO
0        20240830214   20240830214    20240830214         ELISII  \
1        20119590958   20119590958    20119590958       PEDEZERT
2        27425694192   27425694192    27425694192   NINA RAMIREZ
3        27425694192   27425694192    20549159851  ANDACABA NINA
4        27270992132   27270992132    27270992132            RAU
...              ...           ...            ...            ...
1633     20213330072   20213330072    20213330072     ARGAÃ‘ARAZ
1634     27160492991   27160492991    27160492991         ROMERO
1635     23171729769   23171729769    23171729769        BELIZAN
1636     23171729769   23171729769    27500665683        BELIZAN
1637     23384867774   23384867774    23384867774       VILLEGAS

                          NOMBRE             Calle   Nro
0      CHRISTIAN MAURICIO JAVIER  GUIDO SPANO PH 2  5446  \
1               FERNANDO RICARDO            chubut   415
2                  TANIA SOLEDAD          belgrano    21
3                   ULISES UZIEL          belgrano    21
4                CINTHIA BETIANA        EL HORNERO  5398
...                          ...               ...   ...
1633                   FRANCISCO       SIN DEFINIR   NaN
1634             GLADYS CRISTINA       SIN DEFINIR   NaN
1635             MARCELO CLAUDIO       SIN DEFINIR   NaN
1636              LEILA VICTORIA       SIN DEFINIR   NaN
1637             MICAELA CECILIA             MZ.21   150

                             Localidad    Telefono      nro_sss Fch_Alta_OS
0          Buenos Aires - Billinghurst  1158319409  351968327.0  01-11-2022  \
1            Buenos Aires - Loma Verde  1127915604  351994841.0  01-11-2022
2                Buenos Aires - Matheu  1168116908  351974448.0  01-11-2022
3                Buenos Aires - Matheu         NaN  351974448.0  01-11-2022
4                 Buenos Aires - Pilar  2304301189  351989198.0  01-11-2022
...                                ...         ...          ...         ...
1633   Capital Federal - CABA - Flores         NaN  352599994.0  01-05-2023
1634   Capital Federal - CABA - Flores         NaN  352600017.0  01-05-2023
1635   Capital Federal - CABA - Flores         NaN  352600037.0  01-05-2023
1636   Capital Federal - CABA - Flores         NaN  352600037.0  01-05-2023
1637  Buenos Aires - Jose Clemente Paz  1124579830  352477363.0  01-04-2023

         Fch_Nac  Nacionalidad Sexo  Estado_Civil  Parentesco SEDE
0     01-07-1974            12    M             1           0   12  \
1     25-02-1958            12    M             1           0   10
2     20-12-1997            12    F             1           0   12
3     12-08-2015            12    M             1           3   12
4     01-01-1979            12    F             1           0   12
...          ...           ...  ...           ...         ...  ...
1633  11-07-1970            12    M             1           0   10
1634  17-11-1962            12    F             1           0   10
1635  20-05-1964            12    M             1           0   10
1636  25-01-2010            12    F             1           3   10
1637  27-10-1994            12    F             1           0   12

            provincia2  Incapacidad
0        Buenos Aires             0
1        Buenos Aires             0
2        Buenos Aires             0
3        Buenos Aires             0
4        Buenos Aires             0
...                ...          ...
1633  Capital Federal             0
1634  Capital Federal             0
1635  Capital Federal             0
1636  Capital Federal             0
1637     Buenos Aires             0

[1638 rows x 19 columns]