In [9]:
import pandas as pd
padron = pd.read_csv('UOETSYLRA_PADRON_LISTO.csv', header=0, delimiter=';')
print(padron.head(5))

   Codigo  CUIT_Empleador  CUIL_Titular  Parentesco  CUIL_Familiar Tipo_Doc  \
0  127406     20240830214   20240830214           0    20240830214       DU
1  127406     20119590958   20119590958           0    20119590958       DU
2  127406     27425694192   27425694192           0    27425694192       DU
3  127406     27425694192   27425694192           3    20549159851       DU
4  127406     27270992132   27270992132           0    27270992132       DU

    Nro_Doc       Apellido                      Nombre  Estado_Civil  ...  \
0  24083021         ELISII   CHRISTIAN MAURICIO JAVIER             1  ...
1  11959095       PEDEZERT            FERNANDO RICARDO             1  ...
2  42569419   NINA RAMIREZ               TANIA SOLEDAD             1  ...
3  54915985  ANDACABA NINA                ULISES UZIEL             1  ...
4  27099213            RAU             CINTHIA BETIANA             1  ...

   Revista  Incapacidad Tipo_Beneficiario Fch_Alta_OS   nro_gpo  \
0       99            0                 4     1112022  20001933
1       99            0                 4     1112022  20001941
2       99            0                 4     1112022  20001944
3       99            0                 4     1112022  20001944
4       99            0                 4     1112022  20001946

                               cod_sucursal             cod_clasif cod_estado  \
0  16,17,23,25,26,27,13,11,5,20,21,3,8,9,22  8,9,10,16,17,18,25,26    1,4,5,6
1  16,17,23,25,26,27,13,11,5,20,21,3,8,9,22  8,9,10,16,17,18,25,26    1,4,5,6
2  16,17,23,25,26,27,13,11,5,20,21,3,8,9,22  8,9,10,16,17,18,25,26    1,4,5,6
3  16,17,23,25,26,27,13,11,5,20,21,3,8,9,22  8,9,10,16,17,18,25,26    1,4,5,6
4  16,17,23,25,26,27,13,11,5,20,21,3,8,9,22  8,9,10,16,17,18,25,26    1,4,5,6

  cod_anio cod_mes
0     2023     NaN
1     2023     NaN
2     2023     NaN
3     2023     NaN
4     2023     NaN

[5 rows x 31 columns]

In [ ]:
padron[['provincia','localidad']] = padron['Localidad'].str.split('-',expand = True)

In [33]:
padron[['provincia','localidads']] = padron['Localidad'].str.split('-',expand = True, n=1)

In [59]:
padron = padron.drop(['CUIT_Empleador','Piso','Dpto','CP']
, axis = 1)

In [93]:
padron= padron.loc[:, ['CUIL_Titular','CUIL_Familiar','Apellido','Nombre','Calle','Nro',
                        'localidads','Telefono','Fch_Alta_OS','Fch_Nac','Nacionalidad','Estado_Civil','Parentesco'
                        ,'provincia','Incapacidad'
]]
padron.dtypes

CUIL_Titular      int64
CUIL_Familiar     int64
Apellido         object
Nombre           object
Calle            object
Nro              object
localidads       object
Telefono         object
Fch_Alta_OS      object
Fch_Nac          object
Nacionalidad      int64
Estado_Civil      int64
Parentesco        int64
provincia        object
Incapacidad       int64
dtype: object

# Transformar Fechas

In [92]:


from datetime import datetime

datetime.strptime('01071974', '%d%m%Y').strftime('%d-%m-%Y')


#padron['Fch_Alta_OS'] = padron['Fch_Alta_OS'].astype(str).str.zfill(8)
#padron

TypeError: strptime() argument 1 must be str, not Series