In [51]:
import pandas as pd
import numpy as np
from tkinter import filedialog
import tkinter as tk
import customtkinter as ctk
from customtkinter import filedialog
import funciones
import datetime
from datetime import datetime
import re

### subir el archivo

In [55]:
archivo = None
while True:
    archivo = funciones.seleccionar_archivo()
    print(archivo)
    if archivo:
        ruta_archivo = archivo.name
        try:
            pago_mep = pd.read_csv(ruta_archivo, encoding='latin-1', names=['codigo'])
            #padron = pd.read_csv(archivo, sep=";", encoding="ISO-8859-1")Z
            print(pago_mep.dtypes)
            break
        except UnicodeDecodeError:
            print("Error de decodificación de caracteres. Intenta con otra codificación o archivo.")
            continue
    else:
        print("Archivo incorrecto. Por favor, vuelva a cargarlo.")

<_io.TextIOWrapper name='G:/Mi unidad/osoetsylra/importaciones_TIS_SD_ETC_a_sidefi/meplife/liquidacion_meplife_domestico/osoetsylra_desregulados_mep_09_2023.txt' mode='r' encoding='cp1252'>
codigo    object
dtype: object

In [56]:
pago_mep

                                                 codigo
0     1274C14000000000551116C2023-09-292023-09-26201...
1     1274C14000000000275558C2023-09-182023-09-14209...
2     1274C14000000000137779C2023-09-182023-09-14209...
3     1274C14000000000137779C2023-09-182023-09-14209...
4     1274C14000000000137779C2023-09-182023-09-14231...
...                                                 ...
1631  1274SEO000000000551116C2023-09-272023-08-16279...
1632  1274SEO000000000413337C2023-09-272023-08-16279...
1633  1274SEO000000000551116C2023-09-272023-08-16279...
1634  1274SEO000000000137778C2023-09-272023-08-16279...
1635  1274SEO000000000137778C2023-09-272023-08-16279...

[1636 rows x 1 columns]

### splitear en columnas

In [57]:
pago_mep['ORGAN']=pago_mep['codigo'].str.slice(0,4)
pago_mep['CODCONC'] = pago_mep['codigo'].str.slice(4,7)
pago_mep['IMPORTE']= (pago_mep['codigo'].str.slice(7, 22).astype(int)/100).round(2)
pago_mep['INDDBCR']= pago_mep['codigo'].str.slice(22, 23)
pago_mep['FECPROC']= pago_mep['codigo'].str.slice(23, 33)
pago_mep['FECREC']= pago_mep['codigo'].str.slice(33, 43)
pago_mep['CUITCONT']= pago_mep['codigo'].str.slice(43, 54)
pago_mep['DNI_CONT']=pago_mep['codigo'].str.slice(45, 53)
pago_mep['PERIODO']= pago_mep['codigo'].str.slice(54, 58)
pago_mep['ID_TRANFER']= pago_mep['codigo'].str.slice(58, 73)
pago_mep['CUITAPO']= pago_mep['codigo'].str.slice(73, 84)
pago_mep['BANCO']= pago_mep['codigo'].str.slice(84, 87)
pago_mep['CODSUC']= pago_mep['codigo'].str.slice(87, 90)
pago_mep['ZONA']= pago_mep['codigo'].str.slice(90, 92)
pago_mep['USOFUTURO']= pago_mep['codigo'].str.slice(92, 94)
pago_mep['USOFUTURO']= pago_mep['codigo'].str.slice(94, 95)
pago_mep['USOFUTURO']= pago_mep['codigo'].str.slice(95, 96)
pago_mep['USOFUTURO']= pago_mep['codigo'].str.slice(96, 98)
pago_mep['TIPOPAGO']= pago_mep['codigo'].str.slice(98, 99)
pago_mep['MARCAPR']= pago_mep['codigo'].str.slice(99, 100)

In [58]:
pago_mep

,codigo,ORGAN,CODCONC,IMPORTE,INDDBCR,FECPROC,FECREC,CUITCONT,DNI_CONT,PERIODO,ID_TRANFER,CUITAPO,BANCO,CODSUC,ZONA,USOFUTURO,TIPOPAGO,MARCAPR
0,1274C14000000000551116C2023-09-292023-09-26201...,1274,C14,5511.16,C,2023-09-29,2023-09-26,20161902498,16190249,2309,000073390395002,20161902498,072,000,00,00,,
1,1274C14000000000275558C2023-09-182023-09-14209...,1274,C14,2755.58,C,2023-09-18,2023-09-14,20950894122,95089412,2308,000073285196516,20950894122,011,000,00,00,,
2,1274C14000000000137779C2023-09-182023-09-14209...,1274,C14,1377.79,C,2023-09-18,2023-09-14,20954844154,95484415,2308,000073285203545,20954844154,011,000,00,00,,
3,1274C14000000000137779C2023-09-182023-09-14209...,1274,C14,1377.79,C,2023-09-18,2023-09-14,20956539561,95653956,2308,000073285205616,20956539561,011,000,00,00,,
4,1274C14000000000137779C2023-09-182023-09-14231...,1274,C14,1377.79,C,2023-09-18,2023-09-14,23139320069,13932006,2308,000073285208526,23139320069,011,000,00,00,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631,1274SEO000000000551116C2023-09-272023-08-16279...,1274,SEO,5511.16,C,2023-09-27,2023-08-16,27953077413,95307741,2307,000073378609669,27953077413,011,000,00,00,,
1632,1274SEO000000000413337C2023-09-272023-08-16279...,1274,SEO,4133.37,C,2023-09-27,2023-08-16,27953729674,95372967,2307,000073378610121,27953729674,011,000,00,00,,
1633,1274SEO000000000551116C2023-09-272023-08-16279...,1274,SEO,5511.16,C,2023-09-27,2023-08-16,27955665118,95566511,2307,000073378613559,27955665118,011,000,00,00,,
1634,1274SEO000000000137778C2023-09-272023-08-16279...,1274,SEO,1377.78,C,2023-09-27,2023-08-16,27956175114,95617511,2307,000073378614349,27956175114,011,000,00,00,,
1635,1274SEO000000000137778C2023-09-272023-08-16279...,1274,SEO,1377.78,C,2023-09-27,2023-08-16,27956335200,95633520,2307,000073378614475,27956335200,011,000,00,00,,

In [59]:
pago_mep.to_csv('G:\Mi unidad\osoetsylra\importaciones_TIS_SD_ETC_a_sidefi\meplife\liquidacion_meplife_domestico\prueba.csv', sep=';', index=False, encoding='latin-1')

: