In [37]:
import pandas as pd
import numpy as np
from tkinter import filedialog
import tkinter as tk
import customtkinter as ctk
from customtkinter import filedialog
import funciones
import datetime
from datetime import datetime
import re
import glob

### Unir TXT TIS SD EVP

In [45]:
directorio = None
while directorio is None:
    directorio = funciones.seleccionar_directorio()
    print(directorio)
    if directorio:
        try:
            archivos_txt = glob.glob(directorio + '/*.txt')
            pago_tis = pd.DataFrame()
            for archivo_txt in archivos_txt:
                nombre_columna='codigo'
                df = pd.read_csv(archivo_txt, header=None, names=[nombre_columna])
                nombre_archivo = archivo_txt.split("\\")[-1].split(".")[0] # Extraer el nombre del archivo sin la extensión
                df['nombre_archivo']= nombre_archivo
                pago_tis = pd.concat([pago_tis, df])
                
            print(pago_tis.dtypes)
            break
        except UnicodeDecodeError:
            print("Error de decodificación de caracteres. Intenta con otra codificación o archivo.")
    else:
        print("Directorio incorrecto. Por favor, vuelva a cargarlo.")

G:/Mi unidad/osoetsylra/importaciones_TIS_SD_ETC_a_sidefi/TIS_SD_EPV_CLEANING/liquidacion_tis/originales
codigo            object
nombre_archivo    object
dtype: object

In [46]:
pago_tis

,codigo,nombre_archivo
0,1274C14000000000137779C2023-02-152023-02-13204...,osoetsylra_desregulados_tis
1,1274C14000000000137779C2023-02-152023-02-13204...,osoetsylra_desregulados_tis
2,1274C14000000000137779C2023-02-152023-02-13274...,osoetsylra_desregulados_tis
3,1274C14000000000137779C2023-02-152023-02-13203...,osoetsylra_desregulados_tis
4,1274C14000000000413338C2023-02-152023-02-13274...,osoetsylra_desregulados_tis
...,...,...
8014,1274D14000000000137779D2023-02-232023-02-13202...,osoetsylra_desregulados_sd
8015,1274D14000000000137779D2023-02-232023-02-13203...,osoetsylra_desregulados_sd
8016,1274D14000000000137779D2023-02-232023-02-13273...,osoetsylra_desregulados_sd
8017,1274D14000000000137779D2023-02-232023-02-13202...,osoetsylra_desregulados_sd
8018,1274D14000000000137779D2023-02-232023-02-13272...,osoetsylra_desregulados_sd

### Subir el periodo actualizado

In [47]:
directorio = None
while directorio is None:
    directorio = funciones.seleccionar_directorio()
    print(directorio)
    if directorio:
        try:
            archivos_txt = glob.glob(directorio + '/*.txt')
            historico_tis = pd.DataFrame()
            for archivo_txt in archivos_txt:
                nombre_columna='codigo'
                df = pd.read_csv(archivo_txt, header=None, names=[nombre_columna])
                nombre_archivo = archivo_txt.split("\\")[-1].split(".")[0] # Extraer el nombre del archivo sin la extensión
                df['nombre_archivo']= nombre_archivo
                historico_tis = pd.concat([historico_tis, df])
                
            print(historico_tis)
            break
        except UnicodeDecodeError:
            print("Error de decodificación de caracteres. Intenta con otra codificación o archivo.")
    else:
        print("Directorio incorrecto. Por favor, vuelva a cargarlo.")

G:/Mi unidad/osoetsylra/importaciones_TIS_SD_ETC_a_sidefi/TIS_SD_EPV_CLEANING/liquidacion_tis/revision
                                                  codigo  \
0      1274C14000000000137778C2023-02-132023-02-08279...
1      1274C14000000000137778C2023-02-132023-02-08279...
2      1274C19000000000002714C2023-02-132023-02-08279...
3      1274C19000000000003462C2023-02-132023-02-08279...
4      1274C19000000000005351C2023-02-132023-02-08279...
...                                                  ...
16186  1274D14000000000137779D2023-02-232023-02-13203...
16187  1274D14000000000137779D2023-02-232023-02-13273...
16188  1274D14000000000137779D2023-02-232023-02-13202...
16189  1274D14000000000137779D2023-02-232023-02-13272...
16190  1274D14000000000137779D2023-02-232023-02-13272...

                         nombre_archivo
0      osoetsylra_desregulados_revision
1      osoetsylra_desregulados_revision
2      osoetsylra_desregulados_revision
3      osoetsylra_desregulados_revision
4      osoetsylra_desregulados_revision
...                                 ...
16186  osoetsylra_desregulados_revision
16187  osoetsylra_desregulados_revision
16188  osoetsylra_desregulados_revision
16189  osoetsylra_desregulados_revision
16190  osoetsylra_desregulados_revision

[16191 rows x 2 columns]

In [48]:
historico_tis

,codigo,nombre_archivo
0,1274C14000000000137778C2023-02-132023-02-08279...,osoetsylra_desregulados_revision
1,1274C14000000000137778C2023-02-132023-02-08279...,osoetsylra_desregulados_revision
2,1274C19000000000002714C2023-02-132023-02-08279...,osoetsylra_desregulados_revision
3,1274C19000000000003462C2023-02-132023-02-08279...,osoetsylra_desregulados_revision
4,1274C19000000000005351C2023-02-132023-02-08279...,osoetsylra_desregulados_revision
...,...,...
16186,1274D14000000000137779D2023-02-232023-02-13203...,osoetsylra_desregulados_revision
16187,1274D14000000000137779D2023-02-232023-02-13273...,osoetsylra_desregulados_revision
16188,1274D14000000000137779D2023-02-232023-02-13202...,osoetsylra_desregulados_revision
16189,1274D14000000000137779D2023-02-232023-02-13272...,osoetsylra_desregulados_revision
16190,1274D14000000000137779D2023-02-232023-02-13272...,osoetsylra_desregulados_revision

### splitear en columnas

In [49]:
pago_tis['ORGAN']=pago_tis['codigo'].str.slice(0,4)
pago_tis['CODCONC'] = pago_tis['codigo'].str.slice(4,7)
pago_tis['IMPORTE']= (pago_tis['codigo'].str.slice(7, 22).astype(int)/100).round(2)
pago_tis['INDDBCR']= pago_tis['codigo'].str.slice(22, 23)
pago_tis['FECPROC']= pago_tis['codigo'].str.slice(23, 33)
pago_tis['FECREC']= pago_tis['codigo'].str.slice(33, 43)
pago_tis['CUITCONT']= pago_tis['codigo'].str.slice(43, 54)
pago_tis['DNI_CONT']=pago_tis['codigo'].str.slice(45, 53)
pago_tis['PERIODO']= pago_tis['codigo'].str.slice(54, 58)
pago_tis['ID_TRANFER']= pago_tis['codigo'].str.slice(58, 73)
pago_tis['CUITAPO']= pago_tis['codigo'].str.slice(73, 84)
pago_tis['BANCO']= pago_tis['codigo'].str.slice(84, 87)
pago_tis['CODSUC']= pago_tis['codigo'].str.slice(87, 90)
pago_tis['ZONA']= pago_tis['codigo'].str.slice(90, 92)
pago_tis['USOFUTURO']= pago_tis['codigo'].str.slice(92, 94)
pago_tis['USOFUTURO1']= pago_tis['codigo'].str.slice(94, 95)
pago_tis['USOFUTURO2']= pago_tis['codigo'].str.slice(95, 96)
pago_tis['USOFUTURO3']= pago_tis['codigo'].str.slice(96, 98)
pago_tis['TIPOPAGO']= pago_tis['codigo'].str.slice(98, 99)
pago_tis['MARCAPR']= pago_tis['codigo'].str.slice(99, 100)

## Lo mismo con el dataframe historico
historico_tis['ORGAN']=historico_tis['codigo'].str.slice(0,4)
historico_tis['CODCONC'] = historico_tis['codigo'].str.slice(4,7)
historico_tis['IMPORTE']= (historico_tis['codigo'].str.slice(7, 22).astype(int)/100).round(2)
historico_tis['INDDBCR']= historico_tis['codigo'].str.slice(22, 23)
historico_tis['FECPROC']= historico_tis['codigo'].str.slice(23, 33)
historico_tis['FECREC']= historico_tis['codigo'].str.slice(33, 43)
historico_tis['CUITCONT']= historico_tis['codigo'].str.slice(43, 54)
historico_tis['DNI_CONT']=historico_tis['codigo'].str.slice(45, 53)
historico_tis['PERIODO']= historico_tis['codigo'].str.slice(54, 58)
historico_tis['ID_TRANFER']= historico_tis['codigo'].str.slice(58, 73)
historico_tis['CUITAPO']= historico_tis['codigo'].str.slice(73, 84)
historico_tis['BANCO']= historico_tis['codigo'].str.slice(84, 87)
historico_tis['CODSUC']= historico_tis['codigo'].str.slice(87, 90)
historico_tis['ZONA']= historico_tis['codigo'].str.slice(90, 92)
historico_tis['USOFUTURO']= historico_tis['codigo'].str.slice(92, 94)
historico_tis['USOFUTURO1']= historico_tis['codigo'].str.slice(94, 95)
historico_tis['USOFUTURO2']= historico_tis['codigo'].str.slice(95, 96)
historico_tis['USOFUTURO3']= historico_tis['codigo'].str.slice(96, 98)
historico_tis['TIPOPAGO']= historico_tis['codigo'].str.slice(98, 99)
historico_tis['MARCAPR']= historico_tis['codigo'].str.slice(99, 100)

In [42]:
#pago_tis['IMPORTE'].sum()
historico_tis['IMPORTE'].sum()

32472643.650000006

### Merge liquidaciones e historico

In [52]:
cruce_liquid= pd.merge(pago_tis, historico_tis, left_on='codigo', right_on='codigo', how='left', indicator=True)
cruce_liquid.to_csv("prueba.csv", index=False, sep=';')
liqui_no_enviada=cruce_liquid[cruce_liquid["_merge"] == "right_only"]
liqui_no_enviada.rename(columns={"_merge":"cruce1"}, inplace = True)

C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3325440721.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada.rename(columns={"_merge":"cruce1"}, inplace = True)

In [44]:
liqui_no_enviada

,codigo,nombre_archivo_x,ORGAN_x,CODCONC_x,IMPORTE_x,INDDBCR_x,FECPROC_x,FECREC_x,CUITCONT_x,DNI_CONT_x,...,BANCO_y,CODSUC_y,ZONA_y,USOFUTURO_y,USOFUTURO1_y,USOFUTURO2_y,USOFUTURO3_y,TIPOPAGO_y,MARCAPR_y,cruce1
32,1274D14000000000115145D2023-02-072022-11-03273...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,014,000,00,00,,0,00,,,right_only
33,1274C14000000000137779C2023-02-152023-02-13274...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,011,000,00,00,,0,00,,,right_only
35,1274C14000000000551117C2023-02-152023-02-13274...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,011,000,00,00,,0,00,,,right_only
36,1274C14000000000137779C2023-02-152023-02-13274...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,011,000,00,00,,0,00,,,right_only
38,1274C14000000000137779C2023-02-152023-02-13274...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,011,000,00,00,,0,00,,,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16170,1274C14000000000093596C2023-02-082022-11-03273...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,014,000,00,00,,0,00,,,right_only
16171,1274C19000000000008695C2023-02-082022-11-03273...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,014,000,00,00,,0,00,,,right_only
16172,1274C19000000000002172C2023-02-082022-11-03273...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,014,000,00,00,,0,00,,,right_only
16173,1274C19000000000001691C2023-02-082022-11-03273...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,014,000,00,00,,0,00,,,right_only
16174,1274C14000000000327443C2023-02-232023-02-16273...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,016,000,00,00,,0,00,,,right_only

### formatear liquidacion limpia

In [10]:
liqui_no_enviada['ORGAN']=liqui_no_enviada['codigo'].str.slice(0,4)
liqui_no_enviada['CODCONC'] = liqui_no_enviada['codigo'].str.slice(4,7)
liqui_no_enviada['IMPORTE']= (liqui_no_enviada['codigo'].str.slice(7, 22).astype(int)/100).round(2)
liqui_no_enviada['INDDBCR']= liqui_no_enviada['codigo'].str.slice(22, 23)
liqui_no_enviada['FECPROC']= liqui_no_enviada['codigo'].str.slice(23, 33)
liqui_no_enviada['FECREC']= liqui_no_enviada['codigo'].str.slice(33, 43)
liqui_no_enviada['CUITCONT']= liqui_no_enviada['codigo'].str.slice(43, 54)
liqui_no_enviada['DNI_CONT']=liqui_no_enviada['codigo'].str.slice(45, 53)
liqui_no_enviada['DNI_CONT'] = liqui_no_enviada['DNI_CONT'].astype(int)
liqui_no_enviada['PERIODO']= liqui_no_enviada['codigo'].str.slice(54, 58)
liqui_no_enviada['ID_TRANFER']= liqui_no_enviada['codigo'].str.slice(58, 73)
liqui_no_enviada['CUITAPO']= liqui_no_enviada['codigo'].str.slice(73, 84)
liqui_no_enviada['BANCO']= liqui_no_enviada['codigo'].str.slice(84, 87)
liqui_no_enviada['CODSUC']= liqui_no_enviada['codigo'].str.slice(87, 90)
liqui_no_enviada['ZONA']= liqui_no_enviada['codigo'].str.slice(90, 92)
liqui_no_enviada['USOFUTURO']= liqui_no_enviada['codigo'].str.slice(92, 94)
liqui_no_enviada['USOFUTURO1']= liqui_no_enviada['codigo'].str.slice(94, 95)
liqui_no_enviada['USOFUTURO2']= liqui_no_enviada['codigo'].str.slice(95, 96)
liqui_no_enviada['USOFUTURO3']= liqui_no_enviada['codigo'].str.slice(96, 98)
liqui_no_enviada['TIPOPAGO']= liqui_no_enviada['codigo'].str.slice(98, 99)
liqui_no_enviada['MARCAPR']= liqui_no_enviada['codigo'].str.slice(99, 100)

C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['ORGAN']=liqui_no_enviada['codigo'].str.slice(0,4)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['CODCONC'] = liqui_no_enviada['codigo'].str.slice(4,7)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['IMPORTE']= (liqui_no_enviada['codigo'].str.slice(7, 22).astype(int)/100).round(2)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['INDDBCR']= liqui_no_enviada['codigo'].str.slice(22, 23)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['FECPROC']= liqui_no_enviada['codigo'].str.slice(23, 33)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['FECREC']= liqui_no_enviada['codigo'].str.slice(33, 43)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['CUITCONT']= liqui_no_enviada['codigo'].str.slice(43, 54)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['DNI_CONT']=liqui_no_enviada['codigo'].str.slice(45, 53)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['DNI_CONT'] = liqui_no_enviada['DNI_CONT'].astype(int)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['PERIODO']= liqui_no_enviada['codigo'].str.slice(54, 58)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['ID_TRANFER']= liqui_no_enviada['codigo'].str.slice(58, 73)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['CUITAPO']= liqui_no_enviada['codigo'].str.slice(73, 84)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['BANCO']= liqui_no_enviada['codigo'].str.slice(84, 87)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['CODSUC']= liqui_no_enviada['codigo'].str.slice(87, 90)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['ZONA']= liqui_no_enviada['codigo'].str.slice(90, 92)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['USOFUTURO']= liqui_no_enviada['codigo'].str.slice(92, 94)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['USOFUTURO']= liqui_no_enviada['codigo'].str.slice(94, 95)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['USOFUTURO']= liqui_no_enviada['codigo'].str.slice(95, 96)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['USOFUTURO']= liqui_no_enviada['codigo'].str.slice(96, 98)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['TIPOPAGO']= liqui_no_enviada['codigo'].str.slice(98, 99)
C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\3293553041.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liqui_no_enviada['MARCAPR']= liqui_no_enviada['codigo'].str.slice(99, 100)

In [36]:
liqui_no_enviada['IMPORTE'].sum()

10369675.4

### Subir y limpiar padron SIDEFI

In [11]:
archivo = funciones.seleccionar_archivo()
if archivo:
    padron = pd.read_csv(archivo, sep=";", encoding="ISO-8859-1")

padron = padron[["Nro. OS","Plan del Afiliado", "Nro. Documento"]]
padron["Nro. Documento"] = padron["Nro. Documento"].astype(int)
padron.dtypes

C:\Users\zickd\AppData\Local\Temp\ipykernel_20596\1532311679.py:3: DtypeWarning: Columns (10,20,24) have mixed types. Specify dtype option on import or set low_memory=False.
  padron = pd.read_csv(archivo, sep=";", encoding="ISO-8859-1")

Nro. OS               int64
Plan del Afiliado    object
Nro. Documento        int32
dtype: object

In [27]:
padron

       Nro. OS          Plan del Afiliado  Nro. Documento
0            1    Monotributista autonomo         8609438
1            1                   Afiliado         8609438
2            1                   Afiliado        11319141
3            1                   Afiliado        11319141
4            1                   Afiliado        12758466
...        ...                        ...             ...
70093        7  Monotributista social EPV        96528598
70094        1                   Afiliado        97012018
70095        1                   Afiliado        97285715
70096        1                   Afiliado       488812592
70097        4   Monotributista social SD       546674091

[70098 rows x 3 columns]

### Cruzar padron sidefi con liquidaciones

In [17]:
liq_convenio_merge = pd.merge(liqui_no_enviada, padron, left_on = "DNI_CONT", right_on="Nro. Documento", how='left', indicator=True)

In [18]:
liq_convenio_merge

,codigo,nombre_archivo_x,nombre_archivo_y,cruce1,ORGAN,CODCONC,IMPORTE,INDDBCR,FECPROC,FECREC,...,BANCO,CODSUC,ZONA,USOFUTURO,TIPOPAGO,MARCAPR,Nro. OS,Plan del Afiliado,Nro. Documento,_merge
0,1274D14000000000115145D2023-02-072022-11-03273...,NaN,osoetsylra_desregulados_revision,right_only,1274,D14,1151.45,D,2023-02-07,2022-11-03,...,014,000,00,00,,,7,Monotributista social EPV,35762748,both
1,1274C14000000000137779C2023-02-152023-02-13274...,NaN,osoetsylra_desregulados_revision,right_only,1274,C14,1377.79,C,2023-02-15,2023-02-13,...,011,000,00,00,,,7,Monotributista social EPV,44135688,both
2,1274C14000000000551117C2023-02-152023-02-13274...,NaN,osoetsylra_desregulados_revision,right_only,1274,C14,5511.17,C,2023-02-15,2023-02-13,...,011,000,00,00,,,7,Monotributista social EPV,44141729,both
3,1274C14000000000137779C2023-02-152023-02-13274...,NaN,osoetsylra_desregulados_revision,right_only,1274,C14,1377.79,C,2023-02-15,2023-02-13,...,011,000,00,00,,,7,Monotributista social EPV,44143568,both
4,1274C14000000000137779C2023-02-152023-02-13274...,NaN,osoetsylra_desregulados_revision,right_only,1274,C14,1377.79,C,2023-02-15,2023-02-13,...,011,000,00,00,,,7,Monotributista social EPV,44184032,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5627,1274C14000000000093596C2023-02-082022-11-03273...,NaN,osoetsylra_desregulados_revision,right_only,1274,C14,935.96,C,2023-02-08,2022-11-03,...,014,000,00,00,,,7,Monotributista social EPV,35762748,both
5628,1274C19000000000008695C2023-02-082022-11-03273...,NaN,osoetsylra_desregulados_revision,right_only,1274,C19,86.95,C,2023-02-08,2022-11-03,...,014,000,00,00,,,7,Monotributista social EPV,35762748,both
5629,1274C19000000000002172C2023-02-082022-11-03273...,NaN,osoetsylra_desregulados_revision,right_only,1274,C19,21.72,C,2023-02-08,2022-11-03,...,014,000,00,00,,,7,Monotributista social EPV,35762748,both
5630,1274C19000000000001691C2023-02-082022-11-03273...,NaN,osoetsylra_desregulados_revision,right_only,1274,C19,16.91,C,2023-02-08,2022-11-03,...,014,000,00,00,,,7,Monotributista social EPV,35762748,both
5631,1274C14000000000327443C2023-02-232023-02-16273...,NaN,osoetsylra_desregulados_revision,right_only,1274,C14,3274.43,C,2023-02-23,2023-02-16,...,016,000,00,00,,,7,Monotributista social EPV,35029852,both

In [19]:
save_path = filedialog.askdirectory()
liq_convenio_merge.to_csv(save_path + '\liq_convenio_merge.csv' , sep=	';' , index=False)

In [7]:
save_path = filedialog.askdirectory()

pago_tis.to_csv(save_path + 'tis_sd_epv.csv', sep=';', index=False, encoding='latin-1')

In [ ]:
save_path = filedialog.askdirectory()

pago_tis.to_csv(save_path + 'historico.csv', sep=';', index=False, encoding='latin-1')