In [1]:
import pandas as pd
import numpy as np
from tkinter import filedialog
import tkinter as tk
import openpyxl
import customtkinter as ctk
from customtkinter import filedialog
import funciones

### Subir el archivo y guardarlo en un dataframe

In [16]:
archivo = None
while True:
    archivo = funciones.seleccionar_archivo()
    print(archivo)
    if archivo:
        ruta_archivo = archivo.name
        try:
            padon_1 = pd.read_excel(ruta_archivo, engine='openpyxl')
            #padron = pd.read_csv(archivo, sep=";", encoding="ISO-8859-1")
            print(padon_1)
            break
        except UnicodeDecodeError:
            print("Error de decodificación de caracteres. Intenta con otra codificación o archivo.")
            continue
    else:
        print("Archivo incorrecto. Por favor, vuelva a cargarlo.")

<_io.TextIOWrapper name='G:/Mi unidad/osoetsylra/importaciones_TIS_SD_ETC_a_sidefi/meplife/junio/UOETSYLRA JUNIO.xlsx' mode='r' encoding='cp1252'>
      Codigo  CUIT_Empleador  CUIL_Titular  Parentesco  CUIL_Familiar
0     127406     20240830214   20240830214           0    20240830214  \
1     127406     20119590958   20119590958           0    20119590958
2     127406     27425694192   27425694192           0    27425694192
3     127406     27425694192   27425694192           3    20549159851
4     127406     27270992132   27270992132           0    27270992132
...      ...             ...           ...         ...            ...
1682  127406     20190072577   20190072577           0    20190072577
1683  127406     27321459590   27321459590           0    27321459590
1684  127406     27174774221   27174774221           0    27174774221
1685  127406     27174774221   27174774221           1    20149595150
1686  127406     27316755637   27316755637           0    27316755637

     Tipo_Doc   Nro_Doc       Apellido                      Nombre Sexo  ...
0          DU  24083021         ELISII   CHRISTIAN MAURICIO JAVIER    M  ...  \
1          DU  11959095       PEDEZERT            FERNANDO RICARDO    M  ...
2          DU  42569419   NINA RAMIREZ               TANIA SOLEDAD    F  ...
3          DU  54915985  ANDACABA NINA                ULISES UZIEL    M  ...
4          DU  27099213            RAU             CINTHIA BETIANA    F  ...
...       ...       ...            ...                         ...  ...  ...
1682       DU  19007257        ENRIQUE             MARTIN BENJAMIN    M  ...
1683       DU  32145959       GONZALEZ           ROMINA  ALEJANDRA    F  ...
1684       DU  17477422      MALDONADO                     CLAUDIA    F  ...
1685       DU  14959515    MAC DOUGALL                 SERGIO LUIS    M  ...
1686       DU  31675563          CRACI            VERONICA BEATRIZ    F  ...

        CP  Provincia  Tipo_domi    Telefono Revista Incapacidad
0     1650          2          1  1158319409      99           0  \
1     1628          2          1  1127915604      99           0
2     1627          2          1  1168116908      99           0
3     1627          2          1         NaN      99           0
4     1629          2          1  2304301189      99           0
...    ...        ...        ...         ...     ...         ...
1682  1667          2          1  1164135879      99           0
1683  1865          2          1         NaN      99           0
1684  1611          2          1  1167011882      99           0
1685  1611          2          1         NaN      99           0
1686  1406          2          1         NaN      99           0

     Tipo_Beneficiario Fch_Alta_OS   nro_gpo      nro_sss
0                    4     1112022  20001933  351968327.0
1                    4     1112022  20001941  351994841.0
2                    4     1112022  20001944  351974448.0
3                    4     1112022  20001944  351974448.0
4                    4     1112022  20001946  351989198.0
...                ...         ...       ...          ...
1682                 4     1062023  20005799          NaN
1683                 4     1052023  20005852  352276196.0
1684                 4     1062023  20006025  352691714.0
1685                 4     1062023  20006025  352691714.0
1686                 4     1062023  20006029  352641009.0

[1687 rows x 28 columns]

### duplicados

In [17]:
padon_1.isnull().sum()

Codigo                  0
CUIT_Empleador          0
CUIL_Titular            0
Parentesco              0
CUIL_Familiar           0
Tipo_Doc                0
Nro_Doc                 0
Apellido                0
Nombre                  0
Sexo                    0
Estado_Civil            0
Fch_Nac                 0
Nacionalidad            0
Calle                   0
Nro                  1484
Piso                 1667
Dpto                 1670
Localidad               0
CP                      0
Provincia               0
Tipo_domi               0
Telefono             1470
Revista                 0
Incapacidad             0
Tipo_Beneficiario       0
Fch_Alta_OS             0
nro_gpo                 0
nro_sss                 5
dtype: int64