In [1]:
import pandas as pd
import numpy as np
import xlwt
import xlrd
from tkinter import filedialog
import tkinter as tk
import customtkinter as ctk
from customtkinter import filedialog
import funciones

### carga del archivo

In [3]:
archivo = None

while True:
    archivo=funciones.seleccionar_archivo()
    print(archivo)
    if archivo:
        ruta_archivo=archivo.name
        try:
            mutual=pd.read_csv(ruta_archivo, sep=';', encoding='ISO-8859-1')
            print(mutual)
            break
        except UnicodeDecodeError:
            print("Error de decodificación de caracteres. Intenta con otra codificación o archivo.")
            continue
    else:
        print("Archivo incorrecto. Por favor, vuelva a cargarlo.")

<_io.TextIOWrapper name='C:/Users/zickd/Downloads/mutual.csv' mode='r' encoding='cp1252'>
        Afil.   Benef.       Apellido           Nombre       Cuil/DNI  \
0     22942.0  21101.0         AGUERO       Jorge Luis  20-94455219-8
1     24634.0  24860.0        ALARCON    LUCAS ARMANDO  20-38257639-0
2     19047.0  18240.0         BORDON     Anibal Jorge  20-21142907-1
3     25649.0  24866.0        BRANDAN   HECTOR GABRIEL  23-33210319-9
4     26231.0  25180.0  BRITOS CUENCA     JUAN GABRIEL  20-95613482-0
...       ...      ...            ...              ...            ...
1418  13989.0  13989.0       MARTINEZ  Matias Ezequiel  20-30023819-0
1419  28795.0  33602.0        PALASIO      LEONEL IVAN  20-40767060-5
1420  15023.0  15023.0       PASCUALI         Emiliano  23-32528636-9
1421  28220.0  32522.0           PINO     LUIS EDUARDO  20-32380187-9
1422   1693.0      NaN        PORCELO    RAMON ALFREDO  20-20760804-2

     Parentesco(Edad) FechaNacimiento Sexo EstadoCivil                Empresa  \
0        Titular (39)       23/4/1984    M   Soltero/a  4 DE NOVIEMBRE S.R.L.
1        Titular (29)        4/4/1994    M   Soltero/a  4 DE NOVIEMBRE S.R.L.
2        Titular (53)      18/12/1969    M    Casado/a  4 DE NOVIEMBRE S.R.L.
3        Titular (34)      20/12/1988    M   Soltero/a  4 DE NOVIEMBRE S.R.L.
4        Titular (35)       19/4/1988    M   Soltero/a  4 DE NOVIEMBRE S.R.L.
...               ...             ...  ...         ...                    ...
1418     Titular (40)       31/3/1983    M    Casado/a       ZELCAR WASH S.A.
1419     Titular (25)      26/12/1997    M   Soltero/a       ZELCAR WASH S.A.
1420     Titular (37)       2/10/1986    M   Soltero/a       ZELCAR WASH S.A.
1421     Titular (37)        6/1/1986    M   Soltero/a       ZELCAR WASH S.A.
1422     Titular (54)       23/6/1969    M   Soltero/a       ZELCAR WASH S.A.

      ...              Sede     Provincia             Localidad   Tel_prefijo  \
0     ...  BsAs - San Justo  BUENOS AIRES       CAPITAL FEDERAL  0.000000e+00
1     ...  BsAs - San Justo  BUENOS AIRES  SAN FRANCISCO SOLANO           NaN
2     ...  BsAs - San Justo  BUENOS AIRES                 MERLO -1.000000e+00
3     ...  BsAs - San Justo  BUENOS AIRES        GONZALEZ CATAN           NaN
4     ...  BsAs - San Justo  BUENOS AIRES       LOMAS DE ZAMORA           NaN
...   ...               ...           ...                   ...           ...
1418  ...  BsAs - San Justo  BUENOS AIRES           BELLA VISTA  1.137886e+09
1419  ...  BsAs - San Justo  BUENOS AIRES            EL PALOMAR           NaN
1420  ...  BsAs - San Justo  BUENOS AIRES               CASEROS  0.000000e+00
1421  ...  BsAs - San Justo  BUENOS AIRES             CIUDADELA           NaN
1422  ...  BsAs - San Justo  BUENOS AIRES             SAN JUSTO  0.000000e+00

                Tel_numero   Cel_prefijo   Cel_numero  \
0     1126767712 concubina           NaN   1165662960
1                 42126327           NaN   1169319346
2               2204864756           NaN   1166791358
3                      NaN           NaN   1130850524
4               1151077653           NaN   1551077675
...                    ...           ...          ...
1418              44680347  1.132425e+09   1533285151
1419                   NaN  1.100000e+01   1136388296
1420                   NaN           NaN   1125347799
1421                   NaN           NaN   1127110957
1422             5648-8668           NaN  152326-1685

                              Email                Condicion  Padron Afiliados
0           luisaguero344@gmail.com  Relacion de dependencia   MT - Sede Todas
1        luca1994alarcon@gamail.com  Relacion de dependencia   MT - Sede Todas
2        anibalbordon_7@hotmail.com  Relacion de dependencia   MT - Sede Todas
3         gabybrandan2018@gmail.com  Relacion de dependencia   MT - Sede Todas
4     juan-todopoderoso@hotmail.com  Relacion de dependencia   MT - Sede Todas
...                             ...                      ...               ...
1418           naty310887@gmail.com  Relacion de dependencia   MT - Sede Todas
1419            sosa45398@gmail.com  Relacion de dependencia   MT - Sede Todas
1420                            NaN  Relacion de dependencia   MT - Sede Todas
1421       luispinocaro66@gmail.com  Relacion de dependencia   MT - Sede Todas
1422                            NaN  Relacion de dependencia   MT - Sede Todas

[1423 rows x 29 columns]

### Transformacion

In [4]:
mutual['Cuil/DNI'] = mutual['Cuil/DNI'].replace('-', '', regex = True)
mutual['DNI'] = mutual['Cuil/DNI'].astype(str).str[2:10]
print(mutual['DNI'].head(20))
#Campo direccion
mutual['Direccion Completa'] = mutual['TitularDomicilio'] + ' ' + mutual['TitularNroPuerta'].astype(str)
print(mutual['Direccion Completa'])

#sacar las provincias
condicion_filtro=['CORDOBA','MENDOZA','SANTA FE','TUCUMAN']
filtro = mutual['Provincia'].isin(condicion_filtro)
mutual = mutual.drop(mutual[filtro].index)

condicion_filtro=['PERGAMINO']
filtro = mutual['Localidad'].isin(condicion_filtro)
mutual = mutual.drop(mutual[filtro].index)

0     94455219
1     38257639
2     21142907
3     33210319
4     95613482
5     95404802
6     20474919
7     25845063
8     36518507
9     33638382
10    39982816
11    14883045
12    94954591
13    24279792
14    29429016
15    22827807
16    35978907
17    29930320
18    38830676
19    38845834
Name: DNI, dtype: object
0       CRISóSTOMO ÁLVAREZ  4757
1                 CALLE 824 2329
2                Saenz Peña 1541
3             EDUARDO SAENZ 7255
4                   FILARDI 2232
                  ...
1418          Emilio Lamarca 742
1419              RIO NEGRO 1241
1420                LOURDES 3784
1421      HIPOLITO YRIGOYEN  956
1422               CASERATA 4158
Name: Direccion Completa, Length: 1423, dtype: object

### Exportar el archivo

In [5]:
mutual['P¢liza'] = ('')
mutual['Otro ID'] = ('')
mutual['Apellido Materno'] = ('')
mutual['TE'] = ('')
mutual['TE 2'] = ('')
mutual['Fecha Inicio Vigencia'] = ('')
mutual['Fecha Fin Vigencia'] = ('')
padron_mutual = mutual[['DNI','P¢liza','Otro ID','Nombre', 'Apellido','Apellido Materno','TE','TE 2','Fecha Inicio Vigencia','Direccion Completa','Localidad','Provincia']]
padron_mutual.head(5)
save_path = filedialog.askdirectory()
padron_mutual.to_excel(save_path + '\padron_mutual.xlsx', engine='openpyxl', index=False)